<div class="large-screen">
<div class="container1">
  <div class="reveal">
    <div class="reveal p-card-custom">
      <p-card [style]="{ width: '40rem', height: '32.5rem' }">
        <ng-template style="display: flex" pTemplate="header">
          <div style="display: flex; padding-left: 11rem">
            <div>
              <h5 class="title degrade">{{data[villageId].title}}</h5>
              <hr class="degrade-line">
            </div>
          </div>
        </ng-template>
        <p class="m-0 text-style">
          {{data[villageId].desc}}
        </p>
      </p-card>
    </div>
<div style="max-width: 45rem; max-height: 32.5rem; padding-left: 3rem">
  <div class="card">
    <p-galleria
      [value]="getImagesForSelected()"
      [responsiveOptions]="responsiveOptions"
      [containerStyle]="{ 'max-width': '640px' }"
      [showThumbnails]="false"
      [showIndicators]="true"
      [numVisible]="5"
      [circular]="true"
      [showItemNavigators]="true">
      <ng-template pTemplate="item" let-item>
        <img [src]="item.itemImageSrc" style="width: 45rem; height: 33.5rem" />
      </ng-template>
    </p-galleria>
  </div>

  </div>
  </div>
</div>

  <div>
    <div class="container2">
      <div style="padding-top: 3rem" class="reveal p-card-custom">
        <p-card>
          <p class="m-0 text-style">
            {{data[villageId].secondDesc1}}
          </p>
        </p-card>
      </div>
      <img style="width: 300px; height: 300px; margin-left: 5rem; margin-right: 5rem" src="assets/logo.png" />
    </div>

    <div class="container3">
      <img style="width: 300px; height: 300px;" src="assets/logo.png" />
      <div style="padding-top: 3rem"   class="reveal p-card-custom">
        <p-card>
          <p class="m-0 text-style">
            {{data[villageId].secondDesc2}}
          </p>
        </p-card>
      </div>
    </div>

    <div class="container2">
      <div style="padding-top: 3rem" class="reveal p-card-custom">
        <p-card>
          <p class="m-0 text-style">
            {{data[villageId].secondDesc3}}
          </p>
        </p-card>
      </div>
      <img style="width: 300px; height: 300px; margin-left: 5rem; margin-right: 5rem" src="assets/logo.png" />
    </div>
  </div>
</div>

<div class="small-screen">
  <div class="container1">
    <div class="reveal">
      <div class="reveal p-card-custom">
        <p-card [style]="{ width: '23rem'}">
          <ng-template pTemplate="header">
            <div style="display: inline-block">
              <h5 class="title">{{data[villageId].title}}</h5>
<!--              <img style="width: 18rem; height: 18rem; margin-left: 2rem" alt="Card" src="assets/logo.png" />-->
              <p-galleria *ngIf="villageId !== 0"
                [value]="getImagesForSelected()"
                [responsiveOptions]="responsiveOptions"
                [containerStyle]="{ 'max-width': '640px', 'margin-left': '2rem' }"
                [showThumbnails]="false"
                [showIndicators]="true"
                [numVisible]="5"
                [circular]="true"
                [showItemNavigators]="true">
                <ng-template pTemplate="item" let-item>
                  <img [src]="item.itemImageSrc" style="width: 18rem; height: 18rem" />
                </ng-template>
              </p-galleria>
            </div>
          </ng-template>
          <p *ngIf="data[villageId].desc !== null" class="m-0 text-style">
            {{data[villageId].desc}}
          </p>
        </p-card>
      </div>
    </div>
  </div>

  <div class="container2">
    <div style="padding-top: 1rem" class="reveal p-card-custom">
      <p-card>
        <p class="m-0 text-style">
          {{data[villageId].secondDesc1}}
        </p>
      </p-card>
    </div>
  </div>

  <div class="container2">
    <div style="padding-top: 1rem" class="reveal p-card-custom">
      <p-card>
        <p class="m-0 text-style">
          {{data[villageId].secondDesc2}}
        </p>
      </p-card>
    </div>
  </div>

  <div class="container2">
    <div style="padding-top: 3rem" class="reveal p-card-custom">
      <p-card>
        <p class="m-0 text-style">
          {{data[villageId].secondDesc3}}
        </p>
      </p-card>
    </div>
  </div>

</div>
