<div class="large-screen">
<div class="wrapper">
  <svg id="svg" viewBox="0 0 1000 1000">
    <g id="left-eye">
      <circle class="eye-outer" cx="400" cy="500" r="100" stroke="#0f0f0f" stroke-width="2" fill="#fff"></circle>
      <circle class="eye-inner" cx="480" cy="500" r="20" fill="#0f0f0f"></circle>
    </g>
    <g id="right-eye">
      <circle class="eye-outer" cx="600" cy="500" r="100" stroke="#0f0f0f" stroke-width="2" fill="#fff"></circle>
      <circle class="eye-inner" cx="680" cy="500" r="20" fill="#0f0f0f"></circle>
    </g>
  </svg>
  <div class="container">
    <div>
      <a href="#" class="text">
        <img src="assets/instagram.png" style="height: 5rem; width: 5rem">
        <span>I</span>
        <span>n</span>
        <span>s</span>
        <span>t</span>
        <span>a</span>
        <span>g</span>
        <span>r</span>
        <span>a</span>
        <span>m</span>
      </a>
    </div>
    <div>
      <a style="padding-right: 45rem" href="#" class="text">
        <img src="assets/facebook.png" style="height: 5rem; width: 5rem">
        <span>F</span>
        <span>a</span>
        <span>c</span>
        <span>e</span>
        <span>b</span>
        <span>o</span>
        <span>o</span>
        <span>k</span>
      </a>
      <a id="tiktok" href="#" class="text">
        <img src="assets/tiktok.png" style="height: 5rem; width: 5rem">
        <span>T</span>
        <span>i</span>
        <span>k</span>
        <span>t</span>
        <span>o</span>
        <span>k</span>
      </a>
    </div>
    <div>
      <a href="#" class="text">
        <img src="assets/wapp.png" style="height: 5rem; width: 5rem">
        <span>0</span>
        <span>7</span>
        <span>2</span>
        <span>8</span>
        <span>1</span>
        <span>4</span>
        <span>0</span>
        <span>6</span>
        <span>5</span>
        <span>0</span>
        <img src="assets/phone.png" style="height: 5rem; width: 5rem">
      </a>
    </div>
</div>
</div>
</div>
<div class="small-screen">
  <div class="contact-info">
    <div style="display: flex">
      <h2>Contactează-ne <br> și hai în sat!</h2>
      <img style="width: 6rem; height: 6rem; margin-left: 2rem" alt="Logo" src="assets/logo.png" />
    </div>
        <div class="text" style="padding-top: 1rem;">
          <img src="assets/instagram.png" class="images-style">
          <span>Instagram</span>
        </div>
        <div class="text">
          <img src="assets/facebook.png" class="images-style">
          <span>Facebook</span>
        </div>
        <div id="tiktok_mobile" class="text">
          <img src="assets/tiktok.png" class="images-style">
          <span>Tiktok</span>
        </div>
        <div class="text">
          <img src="assets/wapp.png" class="images-style">
          <span>0728140650</span>
<!--          <img src="assets/phone.png" class="images-style" style="margin-left: 0.5rem">-->
        </div>
        <div class="text">
          <img src="assets/envelope-solid.svg" class="images-style">
          <span>E-mail</span>
        </div>
  </div>
</div>
