<div class="wrapper">
  <svg id="svg" viewBox="0 0 1000 1000">
    <g id="left-eye">
      <circle class="eye-outer" cx="400" cy="500" r="100" stroke="#0f0f0f" stroke-width="2" fill="#fff"></circle>
      <circle class="eye-inner" cx="480" cy="500" r="20" fill="#0f0f0f"></circle>
    </g>
    <g id="right-eye">
      <circle class="eye-outer" cx="600" cy="500" r="100" stroke="#0f0f0f" stroke-width="2" fill="#fff"></circle>
      <circle class="eye-inner" cx="680" cy="500" r="20" fill="#0f0f0f"></circle>
    </g>
  </svg>
  <div class="container">
    <div>
      <a href="#" class="text">
        <img src="assets/instagram.png" style="height: 5rem; width: 5rem">
        <span>I</span>
        <span>n</span>
        <span>s</span>
        <span>t</span>
        <span>a</span>
        <span>g</span>
        <span>r</span>
        <span>a</span>
        <span>m</span>
      </a>
    </div>
    <div>
      <a style="padding-right: 45rem" href="#" class="text">
        <img src="assets/facebook.png" style="height: 5rem; width: 5rem">
        <span>F</span>
        <span>a</span>
        <span>c</span>
        <span>e</span>
        <span>b</span>
        <span>o</span>
        <span>o</span>
        <span>k</span>
      </a>
      <a id="tiktok" href="#" class="text">
        <img src="assets/tiktok.png" style="height: 5rem; width: 5rem">
        <span>T</span>
        <span>i</span>
        <span>k</span>
        <span>t</span>
        <span>o</span>
        <span>k</span>
      </a>
    </div>
    <div>
      <a href="#" class="text">
        <img src="assets/wapp.png" style="height: 5rem; width: 5rem">
        <span>0</span>
        <span>7</span>
        <span>6</span>
        <span>4</span>
        <span>0</span>
        <span>1</span>
        <span>9</span>
        <span>5</span>
        <span>2</span>
        <span>8</span>
        <img src="assets/phone.png" style="height: 5rem; width: 5rem">
      </a>
    </div>
</div>
