<div class="large-screen">
  <div class="containers">
      <div class="left-container">
        <div class="info">

        </div>
      </div>

      <div class="right-container">
        <div class="first-block"></div>
        <div class="menu-container">
          <img style="width: 100px; height: 100px; margin-right: 2rem" alt="Logo" src="assets/logo.png" />
        </div>

        <div class="story">
          <h1>Despre noi</h1>
          <p>
            Ți-ai pus vreodată întrebarea dacă în România există și oameni serioși? <br>
            Noi suntem supărați că nu ne-am născut în Germania... <br>
            Nu, nu suntem rigizi, suntem chiar simpatici! <br>
            Ești curios, nu ești curios? Nu contează, dacă ești inteligent și vrei să evadezi din matrice sigur ne vei contacta!
          </p>
      </div>
        <div class="extra-text">
          <pre>
            {{getText()}}
          </pre>
        </div>
      </div>
      <div class="center-container"></div>
    </div>
</div>

<div class="small-screen">

  <div class="container">
    <main class="main-content">
      <h1>Despre noi</h1>
      <img class="logo" src="assets/laur.jpg" alt="Poza" />
      <div class="image-container">
        <!-- Background image or inline image goes here -->
      </div>
      <p class="introduction">
        Ți-ai pus vreodată întrebarea dacă în România există și oameni serioși? Noi suntem supărați că nu ne-am născut în Germania...
      </p>
      <p class="main-text">
        Ești curios, nu ești curios? Nu contează, dacă ești inteligent și vrei să evadezi din matrice sigur ne vei contacta.
      </p>
      <p class="additional-info">
        Noi nu facem din asta o afacere. Ne bucurăm pentru fiecare casă care își găsește un suflet curat.
      </p>
      <fa-icon class="fa-2x" style="padding-left: 2rem" [icon]="faTiktok"></fa-icon>
      <fa-icon class="fa-2x" style="padding-left: 3rem" [icon]="faSquareFacebook"></fa-icon>
      <fa-icon class="fa-2x" style="padding-left: 3rem" [icon]="faInstagram"></fa-icon>
    </main>

  </div>

</div>
