<div class="containers">
    <div class="left-container">
      <div class="info">

      </div>
    </div>

    <div class="right-container">
      <div class="first-block"></div>
      <div class="menu-container">
        <div class="menu">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div class="story">
        <h1>Despre noi</h1>
        <p>
          Ti-ai pus vreidata intrebarea daca in romania exista si oameni seriosi? <br>
          Noi suntem suparati ca nu ne-am nascut in Germania... <br>
          Nu, nu suntem rigizi, suntem chiar simpatici! <br>
          Esti curios, nu esti curios? Nu conteaza, daca esti inteligent sigur ne vei recomanda
        </p>
    </div>
    </div>
    <div class="center-container"></div>
  </div>
