<div *ngIf="loadingService.loading$ | async" class="spinner-container">
  <p-progressSpinner></p-progressSpinner>
</div>

<main class="property-header-container">
  <section class="property-filter">
    <p class="property-subtext">
      Pentru doar <strong>99 de lei</strong> pe an vă puteți lista proprietatea pe site-ul nostru
    </p>
    <p-button label="Aplică" class="cta-btn" (click)="showAddPropertyModal()"></p-button>
  </section>

  <section class="property-header-text">
    <h1>Case și terenuri de vânzare</h1>
    <hr />
    <p>
      Echipa noastră poate fi ghidul dvs. în această călătorie de transformare. Suntem aici să vă prezentăm oportunitățile
      incredibile pe care viața la țară le oferă. Alegeți să faceți pasul și să explorați ce înseamnă cu adevărat să trăiești.
    </p>
  </section>
</main>

<p-dialog
  header="Echipa noastră vă va ajuta cu tot ce aveți nevoie. Lăsați-ne câteva informații și vă vom contacta în cel mai scurt timp"
  [(visible)]="displayModal"
  [modal]="true"
  [style]="{ width: '50vw' }"
  styleClass="centered-dialog-header"
>
  <div class="property-dialog-content">
    <!-- FORMULAR -->
    <div class="property-dialog-left">
      <p-float-label>
        <input style="width: 100%" type="text" pInputText id="firstName" [(ngModel)]="firstName" />
        <label for="firstName">Nume</label>
      </p-float-label>

      <p-float-label>
        <input style="width: 100%" type="text" pInputText id="lastName" [(ngModel)]="lastName" />
        <label for="lastName">Prenume</label>
      </p-float-label>

      <p-float-label>
        <input style="width: 100%" type="email" pInputText id="email" [(ngModel)]="email" />
        <label for="email">E-mail</label>
      </p-float-label>

      <p-float-label>
        <textarea style="width: 100%" rows="4" pInputTextarea id="propertyDescription" [(ngModel)]="propertyDescription"></textarea>
        <label for="propertyDescription">Ce proprietate aveți de vânzare?</label>
      </p-float-label>
    </div>

    <p-divider layout="vertical">SAU</p-divider>

    <div class="property-dialog-right">
      <h3>Ne puteți contacta prin:</h3>
      <div class="contact-info">
        <div class="contact-item">
          <img src="assets/instagram.png" alt="Instagram" />
          <span>Instagram</span>
        </div>
        <div class="contact-item">
          <img src="assets/facebook.png" alt="Facebook" />
          <span>Facebook</span>
        </div>
        <div class="contact-item">
          <img src="assets/tiktok.png" alt="Tiktok" />
          <span>Tiktok</span>
        </div>
        <div class="contact-item">
          <img src="assets/wapp.png" alt="WhatsApp" />
          <span>0728140650</span>
        </div>
        <div class="contact-item">
          <img src="assets/envelope-solid.svg" alt="Email" />
          <span>contact&#64;hai-în-sat.ro</span>
        </div>
      </div>
    </div>
  </div>

  <ng-template pTemplate="footer">
    <div class="dialog-footer">
      <p-button icon="pi pi-check" label="Salvează" (click)="saveProperty()"></p-button>
      <p-button icon="pi pi-times" label="Înapoi" (click)="hideModal()" styleClass="p-button-text"></p-button>
    </div>
  </ng-template>
</p-dialog>

<div class="card property-data-view">
  <p-dataView #dv [value]="getFilteredProperties()" [layout]="layout">
    <ng-template pTemplate="header">
      <div class="dataView-header">
        <p-selectbutton [(ngModel)]="layout" [options]="options" [allowEmpty]="false">
          <ng-template let-item pTemplate="item">
            <i class="pi" [ngClass]="{ 'pi-bars': item.value === 'list', 'pi-table': item.value === 'grid' }"></i>
          </ng-template>
        </p-selectbutton>
      </div>
    </ng-template>

    <ng-template #list let-items>
      <div class="property-list">
        <div *ngFor="let property of items; let first = first" class="property-list-item">
          <img [src]="property.thumbnail" [alt]="property.name" />
          <div class="property-list-content">
            <h2>{{ property.name }}</h2>
            <p>{{ property.description }}</p>
            <p-button label="Vezi" (click)="viewPropertyDetails(property)"></p-button>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template #grid let-items>
      <div class="property-grid">
        <div *ngFor="let property of items" class="property-card">
          <img [src]="property.thumbnail" [alt]="property.name" />
          <h2>{{ property.name }}</h2>
          <p>{{ property.description }}</p>
          <p-button label="Vezi" (click)="viewPropertyDetails(property)"></p-button>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>
