<main>
  <div>
    <span>Hai in sat</span>
    <h1>Casa Mita Biciclista</h1>
    <hr>
    <p style="max-width: 40rem">Aceasta casa minunata poate fi a dumneavoastra. Cu o curte imensa si un peisaj incredibil
      va puteti bea cafeluta in aer liber in fiecare dimineata</p>
  </div>

  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide swiper-slide-one"></div>

      <div class="swiper-slide swiper-slide-two"></div>

      <div class="swiper-slide swiper-slide-three"></div>

      <div class="swiper-slide swiper-slide-four"></div>

      <div class="swiper-slide swiper-slide-five"></div>
    </div>
  </div>
</main>


<main>
  <div>
    <span>Hai in sat</span>
    <h1>Nea Ion</h1>
    <hr>
    <p style="max-width: 40rem">În satul Slătioara se află casa lui Nea Ion. Cu o gospodărie mare plina de gaini si porci
      va primeste cu bratele deschise sa vizitati zona olteniei de sub munte</p>
  </div>

  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide swiper-slide-one"></div>

      <div class="swiper-slide swiper-slide-two"></div>

      <div class="swiper-slide swiper-slide-three"></div>

      <div class="swiper-slide swiper-slide-four"></div>

      <div class="swiper-slide swiper-slide-five"></div>
    </div>
  </div>
</main>


<main>
  <div>
    <span>Hai in sat</span>
    <h1>Gheorghe</h1>
    <hr>
    <p style="max-width: 40rem">În satul Slătioara se află casa lui Gheorghe. Cu o gospodărie mare plina de gaini si porci
      va primeste cu bratele deschise sa vizitati zona olteniei de sub munte</p>
  </div>

  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide swiper-slide-one"></div>

      <div class="swiper-slide swiper-slide-two"></div>

      <div class="swiper-slide swiper-slide-three"></div>

      <div class="swiper-slide swiper-slide-four"></div>

      <div class="swiper-slide swiper-slide-five"></div>
    </div>
  </div>
</main>
