<div *ngIf="loadingService.loading$ | async" class="spinner-container">
  <p-progressSpinner></p-progressSpinner>
</div>
<div class="large-screen">
  <div class="parent-container">

    <h1 class="degrade" style="text-align: center" id="first-text1">Găsește-ți terenul pe placul tău!</h1>
    <hr class="degrade-line">
    <h2 style="text-align: center; max-width: 50rem" id="first-text2">
      Noi avem și altă ofertă pentru tine. Dacă nu îți dorești o casă în superba noastră zonă,
      îți putem oferi un teren unde poți să îți faci casa mult visată.
    </h2>

    <div style="padding-top: 5rem; display: flex; flex-direction: column; align-items: center">
      <span style="margin-bottom: 2rem; width: 30rem" class="p-float-label" [formGroup]="formGroup">
        <input style="padding: 10px; width: 100%" type="text" pInputText id="name" formControlName="name">
        <label htmlFor="name">Nume</label>
      </span>
      <span style="margin-bottom: 2rem; width: 30rem" class="p-float-label" [formGroup]="formGroup">
        <input style="padding: 10px; width: 100%" type="text" pInputText id="surname" formControlName="surname">
        <label htmlFor="surname">Prenume</label>
      </span>
      <span style="margin-bottom: 2rem; width: 30rem" class="p-float-label" [formGroup]="formGroup">
        <input style="padding: 10px; width: 100%" type="text" pInputText id="phoneNumber" formControlName="phoneNumber">
        <label htmlFor="phoneNumber">Număr de telefon</label>
      </span>
      <span style="margin-bottom: 2rem; width: 30rem" class="p-float-label" [formGroup]="formGroup">
        <input style="padding: 10px; width: 100%" type="text" pInputText id="mail" formControlName="mail">
        <label htmlFor="mail">Adresă de e-mail</label>
      </span>

      <h2>Suprafață(Km)</h2>
      <div class="container">
        <div class="element">
          <input style="margin-bottom: 20px;" type="text" [(ngModel)]="ariaRangeValues[0]" pInputText class="w-full"/>
        </div>
        <div class="element">
          <p-slider [step]="20" [min]="0" [max]="50000" [(ngModel)]="ariaRangeValues" [range]="true"></p-slider>
        </div>
        <div class="element" style="padding-left: 5rem">
          <input style="margin-bottom: 20px;" type="text" [(ngModel)]="ariaRangeValues[1]" pInputText class="w-full"/>
        </div>
      </div>

      <h2>Preț(€)</h2>
      <div class="container">
        <div class="element">
          <input style="margin-bottom: 20px;" type="text" [(ngModel)]="priceRangeValues[0]" pInputText class="w-full"/>
        </div>
        <div class="element">
          <p-slider [step]="20" [min]="0" [max]="200000" [(ngModel)]="priceRangeValues" [range]="true"></p-slider>
        </div>
        <div class="element" style="padding-left: 5rem">
          <input style="margin-bottom: 20px;" type="text" [(ngModel)]="priceRangeValues[1]" pInputText class="w-full"/>
        </div>
      </div>
      <span class="p-float-label" style="margin-bottom: 2rem" [formGroup]="formGroup">
        <textarea rows="5" cols="80" pInputTextarea id="mentions" formControlName="mentions"></textarea>
        <label htmlFor="mentions">Alte mențiuni</label>
      </span>

      <div style="display: flex">
        <p-checkbox [(ngModel)]="accord" [binary]="true" inputId="binary"></p-checkbox>
        <h3 style="padding-left: 1rem">Sunt de acord cu <a href="javascript:void(0)" (click)="openTermenii()">termenii si condițiile</a> și <a href="javascript:void(0)" (click)="openPolitica()">politica de confidențialitate</a> </h3>
      </div>

      <span style="margin-bottom: 2rem">
        <button pButton pRipple label="HAI IN SAT" class="p-button-success" (click)="sendRequest()"></button>
      </span>
    </div>

    <img class="bg" src="assets/logo.png" />

  </div>
</div>

<div class="small-screen">

  <div style="padding-bottom: 2rem">
    <h1 style="font-size: 1.9rem" class="align-center degrade" id="first-text1-mobile">Găsește-ți terenul pe placul tău!</h1>
    <hr>
    <h5 class="align-center" style="font-size: 1.3rem;" id="first-text2-mobile">
      Dă-ne mai multe informații, iar noi
      îți vom oferi cele mai apropiate 3 variante de nevoile tale.
    </h5>

    <div class="mobile-div-style">
    <span style="margin-bottom: 2rem" class="p-float-label" [formGroup]="formGroup">
      <input type="text" pInputText id="name-mobile" formControlName="name">
      <label htmlFor="name-mobile">Nume</label>
    </span>
      <span style="margin-bottom: 2rem" class="p-float-label" [formGroup]="formGroup">
      <input type="text" pInputText id="surname-mobile" formControlName="surname">
      <label htmlFor="surname">Prenume</label>
    </span>
      <span style="margin-bottom: 2rem" class="p-float-label" [formGroup]="formGroup">
      <input pInputText id="phoneNumberMobile" formControlName="phoneNumber">
      <label htmlFor="phoneNumber">Număr de telefon</label>
    </span>
      <span style="margin-bottom: 2rem" class="p-float-label" [formGroup]="formGroup">
      <input pInputText id="mail-mobile" formControlName="mail">
      <label htmlFor="mail">Adresă de e-mail</label>
    </span>

      <h2 style="text-align:center; font-size: 1.3rem; padding-right: 4rem">La ce apropiere de un centru urban(Km)</h2>
      <div>
        <div style="margin-bottom: 1rem; display: flex">
          <div style="padding-right: 1rem; display: inline">
            <p-chip label="Min:"></p-chip>
          </div>
          <input type="tel" style="width: 11rem" [(ngModel)]="ariaRangeValues[0]" pInputText/>
        </div>
        <div style="display: flex">
          <div style="padding-right: 1rem; display: inline">
            <p-chip label="Max:"></p-chip>
          </div>
          <input type="tel" style="width: 10.6rem" [(ngModel)]="ariaRangeValues[1]" pInputText/>
        </div>
      </div>

      <h2 style="font-size: 1.3rem; text-align: center; padding-right: 4rem">Preț(€)</h2>
      <div>
        <div style="margin-bottom: 1rem; display: flex">
          <div style="padding-right: 1rem; display: inline">
            <p-chip label="Min:"></p-chip>
          </div>
          <input type="tel" style="width: 11rem" [(ngModel)]="priceRangeValues[0]" pInputText class="w-full"/>
        </div>
        <div style="margin-bottom: 1rem; display: flex">
          <div style="padding-right: 1rem; display: inline">
            <p-chip label="Max:"></p-chip>
          </div>
          <input type="tel" style="width: 10.6rem" [(ngModel)]="priceRangeValues[1]" pInputText class="w-full"/>
        </div>
      </div>
      <span class="p-float-label" style="margin-bottom: 2rem" [formGroup]="formGroup">
        <textarea style="width: 15.6rem" rows="5" pInputTextarea id="mentions_mobile" formControlName="mentions"></textarea>
        <label htmlFor="mentions">Alte mențiuni</label>
      </span>
      <span style="padding-left: 3.5rem">
        <button pButton pRipple label="HAI IN SAT" class="p-button-success" (click)="sendRequest()"></button>
      </span>
    </div>

<!--    <img class="bg" alt="logo-background" src="assets/logo.png" />-->
  </div>

</div>
