<div *ngIf="loadingService.loading$ | async" class="spinner-container">
  <p-progressSpinner></p-progressSpinner>
</div>

<div class="large-screen">
  <div class="container1">
    <p-button *ngIf="villageId === 0" label="Satul lunii trecute" icon="pi pi-arrow-left" size="small" [raised]="true" severity="secondary" (onClick)="changeVillage(1)"></p-button>
    <p-button *ngIf="villageId === 1" label="Satul lunii" icon="pi pi-arrow-right" size="small" [raised]="true" severity="secondary" (onClick)="changeVillage(0)"></p-button>
    <div class="reveal">
      <div style="padding-top: 4.5rem" class="reveal p-card-custom">
        <p-card [style]="{ width: '35rem', height: '24rem' }">
          <ng-template style="display: flex; justify-content: center; align-items: center; height: 100%" pTemplate="header">
            <div style="flex-grow: 1">
              <h5 class="title">{{data[villageId].title}}</h5>
            </div>
          </ng-template>
          <p class="m-0 text-style">
            {{data[villageId].desc}}
          </p>
        </p-card>
      </div>
      <div style="max-width: 45rem; max-height: 32.5rem; min-width: 40rem; padding-left: 3rem">
<!--        <app-youtube-player [videoId]="'rI43JSfG188'"></app-youtube-player>-->
        <vg-player (onPlayerReady)="onPlayerReady($event)">
          <vg-overlay-play></vg-overlay-play>
          <vg-buffering></vg-buffering>
          <vg-scrub-bar>
            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
          </vg-scrub-bar>
          <vg-controls>
            <vg-play-pause></vg-play-pause>
            <vg-playback-button></vg-playback-button>
            <vg-time-display></vg-time-display>
            <vg-scrub-bar style="pointer-events: none"></vg-scrub-bar>
<!--            <vg-time-display property="left"></vg-time-display>-->
<!--            <vg-time-display property="total"></vg-time-display>-->
            <vg-track-selector></vg-track-selector>
            <vg-mute></vg-mute>
            <vg-volume></vg-volume>
            <vg-fullscreen></vg-fullscreen>
          </vg-controls>
          <video [vgMedia]="$any(media1)"
                 #media1 id="firstVideoDesktop"
                 preload="auto"
                 [src]="getSrcByVillageId()"
                 crossorigin>
          </video>
        </vg-player>

      </div>
    </div>
  </div>

  <div style="display: flex; justify-content: center">
    <div class="p-card-custom" style="padding-top: 2rem; padding-bottom: 2rem">
      <p-card [style]="{ width: '60rem' }">
        <p *ngIf="villageId === 0" class="m-0 text-style">
          Racovița, un sat al comunei Polovragi, un sat unde copiii dacilor se jucau de-a războiul, un sat unde energiile se contopesc și se armonizează cu Universul.
        </p>
        <p *ngIf="villageId === 1" class="m-0 text-style">
          Într-o după amiază cu soarele agățat pe albastrul boltei, cutreieram pădurea virgină și plină de viață în cătutarea gustoaselor ciuperci.
          Eram într-o lume verde cu simfonii vesele interpretate de păsările pădurii, iar mintea mea se afla într-o stare de pauză prelungită...
          <br><br>
          Eram unit cu pădurea, respiram aerul acesteia... Eu însumi eram pădurea...
          <br>
          Coborând brusc o pantă abruptă am auzit cântecul unui cocoș. Atunci m-am trezit. Civilizație. Am ajuns în curtea bunicilor ancestrali. Bunicul bătea coasa, bunica întorcea fânul.
          I-am întrebat „Pot să traversez curtea? Unde sunt aici? Câți ani aveți?”. M-am îndrăgostit ireversibil de tot ceea ce era în jurul lor. Aveau o energie pozitivă ce-mi inunda existența.
          „Da, poți să vii! E satul Râpa... Ai fost după ciuperci, nu? Tataie are 90 de ani, iar eu 80. Ne rânduim cum putem. Vaca e viața noastră.”
          <br><br>
          I-am iubit din prima clipă, iar apoi i-am căutat... tataie căzuse la pat, mamaia era puternică.
          După un timp am revenit și am văzut doliu la poartă. M-am gândit “A murit tataie!”. Nu, mamaie murise și tataie era la pat, dar eu îi iubeam…
        </p>
      </p-card>
    </div>
  </div>

<div class="container1">
  <div class="reveal">
    <div class="reveal p-card-custom">
      <p-card [style]="{ width: '40rem', height: '32.5rem' }">
        <h5 style="font-size: 3rem; font-family: 'Comic Sans MS'; text-align: center">
          Pastilă pentru suflet
        </h5>
        <p style="text-align: center; font-size: 1.6rem">
          Trăiește prezentul!<br>
          Trecutul și viitorul n-au nicio relevanță!
        </p>
      </p-card>
    </div>
    <div style="max-width: 45rem; max-height: 32.5rem; min-width: 40rem; padding-left: 3rem">
<!--      <app-youtube-player [videoId]="'W10oX2mk_R8'"></app-youtube-player>-->
      <vg-player (onPlayerReady)="onPlayerReady($event)">
        <vg-overlay-play></vg-overlay-play>
        <vg-buffering></vg-buffering>
        <vg-scrub-bar>
          <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
          <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>
        <vg-controls>
          <vg-play-pause></vg-play-pause>
          <vg-playback-button></vg-playback-button>
          <vg-time-display></vg-time-display>
          <vg-scrub-bar style="pointer-events: none"></vg-scrub-bar>
<!--          <vg-time-display property="left"></vg-time-display>-->
<!--          <vg-time-display property="total"></vg-time-display>-->
          <vg-track-selector></vg-track-selector>
          <vg-mute></vg-mute>
          <vg-volume></vg-volume>
          <vg-fullscreen></vg-fullscreen>
        </vg-controls>
        <video [vgMedia]="$any(media2)"
               #media2 id="secondVideoDesktop"
               preload="auto"
               [src]="satulRapa2"
               crossorigin>
        </video>
      </vg-player>

    </div>
  </div>
</div>
</div>






<div class="small-screen">
  <div style="padding-top: 1rem">
    <p-button *ngIf="villageId === 0" label="Satul lunii trecute" icon="pi pi-arrow-left" size="small" [raised]="true" severity="secondary" (onClick)="changeVillage(1)"></p-button>
    <p-button *ngIf="villageId === 1" label="Satul lunii" icon="pi pi-arrow-right" size="small" [raised]="true" severity="secondary" (onClick)="changeVillage(0)"></p-button>
  </div>
    <div class="container1">
    <div class="reveal">
      <div style="max-width: 23rem; max-height: 20rem; padding-bottom: 1rem">
<!--        <app-youtube-player [videoId]="'rI43JSfG188'"></app-youtube-player>-->
        <vg-player (onPlayerReady)="onPlayerReady($event)">
          <vg-overlay-play></vg-overlay-play>
          <vg-buffering></vg-buffering>
          <vg-scrub-bar>
            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
          </vg-scrub-bar>
          <vg-controls>
            <vg-play-pause></vg-play-pause>
            <vg-playback-button></vg-playback-button>
            <vg-time-display></vg-time-display>
            <vg-scrub-bar style="pointer-events: none"></vg-scrub-bar>
            <vg-mute></vg-mute>
            <vg-fullscreen></vg-fullscreen>
          </vg-controls>
          <video [vgMedia]="$any(media1)"
                 #media1 id="firstVideoMobile"
                 preload="auto"
                 [src]="getSrcByVillageId()"
                 crossorigin>
          </video>
        </vg-player>
      </div>
    </div>
  </div>


  <div class="container2">
    <div style="padding-top: 3rem" class="reveal p-card-custom">
      <p-card>
        <p *ngIf="villageId === 0" class="m-0 text-style">
          Racovița, un sat al comunei Polovragi, un sat unde copiii dacilor se jucau de-a războiul, un sat unde energiile se contopesc și se armonizează cu Universul.
        </p>
        <p *ngIf="villageId === 1" class="m-0 text-style">
          Într-o după amiază cu soarele agățat pe albastrul boltei, cutreieram pădurea virgină și plină de viață în cătutarea gustoaselor ciuperci.
          Eram într-o lume verde cu simfonii vesele interpretate de păsările pădurii, iar mintea mea se afla într-o stare de pauză prelungită...
          <br><br>
          Eram unit cu pădurea, respiram aerul acesteia... Eu însumi eram pădurea...
          <br>
          Coborând brusc o pantă abruptă am auzit cântecul unui cocoș. Atunci m-am trezit. Civilizație. Am ajuns în curtea bunicilor ancestrali. Bunicul bătea coasa, bunica întorcea fânul.
          I-am întrebat „Pot să traversez curtea? Unde sunt aici? Câți ani aveți?”. M-am îndrăgostit ireversibil de tot ceea ce era în jurul lor. Aveau o energie pozitivă ce-mi inunda existența.
          „Da, poți să vii! E satul Râpa... Ai fost după ciuperci, nu? Tataie are 90 de ani, iar eu 80. Ne rânduim cum putem. Vaca e viața noastră.”
          <br><br>
          I-am iubit din prima clipă, iar apoi i-am căutat... tataie căzuse la pat, mamaia era puternică.
          După un timp am revenit și am văzut doliu la poartă. M-am gândit “A murit tataie!”. Nu, mamaie murise și tataie era la pat, dar eu îi iubeam…
        </p>
      </p-card>
    </div>
  </div>

  <div class="container2">
      <p-card>
        <h2 style="text-align: center" class="m-0">
          Pastilă pentru suflet
        </h2>
        <p style="text-align: center">
          Trăiește prezentul!<br>
          Trecutul și viitorul n-au nicio relevanță!
        </p>
      </p-card>
  </div>

  <div class="container1">
    <div class="reveal">
      <div style="max-width: 23rem; max-height: 20rem; padding-bottom: 1rem">
<!--        <app-youtube-player [videoId]="'W10oX2mk_R8'"></app-youtube-player>-->
        <vg-player (onPlayerReady)="onPlayerReady($event)">
          <vg-overlay-play></vg-overlay-play>
          <vg-buffering></vg-buffering>
          <vg-scrub-bar>
            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
          </vg-scrub-bar>
          <vg-controls>
            <vg-play-pause></vg-play-pause>
            <vg-playback-button></vg-playback-button>
            <vg-time-display></vg-time-display>
            <vg-scrub-bar style="pointer-events: none"></vg-scrub-bar>
            <vg-mute></vg-mute>
            <vg-fullscreen></vg-fullscreen>
          </vg-controls>
          <video [vgMedia]="$any(media2)"
                 #media2 id="secondVideoMobile"
                 preload="auto"
                 [src]="satulRapa2"
                 crossorigin>
          </video>
        </vg-player>
      </div>
    </div>
  </div>

</div>
