<main>
  <div>
    <span>Hai în sat</span>
    <h1>Va urma...</h1>
    <hr>
    <p style="max-width: 40rem">Coming soon...</p>
  </div>

  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide swiper-slide-one"></div>

      <div class="swiper-slide swiper-slide-two"></div>

      <div class="swiper-slide swiper-slide-three"></div>

      <div class="swiper-slide swiper-slide-four"></div>

      <div class="swiper-slide swiper-slide-five"></div>
    </div>
  </div>
</main>


<!--<main>-->
<!--  <div>-->
<!--    <span>Hai in sat</span>-->
<!--    <h1>Nea Ion</h1>-->
<!--    <hr>-->
<!--    <p style="max-width: 40rem">În satul Slătioara se află casa lui Nea Ion. Cu o gospodărie mare plina de gaini si porci-->
<!--      va primeste cu bratele deschise sa vizitati zona olteniei de sub munte</p>-->
<!--  </div>-->

<!--  <div class="swiper mySwiper">-->
<!--    <div class="swiper-wrapper">-->
<!--      <div class="swiper-slide swiper-slide-one"></div>-->

<!--      <div class="swiper-slide swiper-slide-two"></div>-->

<!--      <div class="swiper-slide swiper-slide-three"></div>-->

<!--      <div class="swiper-slide swiper-slide-four"></div>-->

<!--      <div class="swiper-slide swiper-slide-five"></div>-->
<!--    </div>-->
<!--  </div>-->
<!--</main>-->


<!--<main>-->
<!--  <div>-->
<!--    <span>Hai in sat</span>-->
<!--    <h1>Gheorghe</h1>-->
<!--    <hr>-->
<!--    <p style="max-width: 40rem">În satul Slătioara se află casa lui Gheorghe. Cu o gospodărie mare plina de gaini si porci-->
<!--      va primeste cu bratele deschise sa vizitati zona olteniei de sub munte</p>-->
<!--  </div>-->

<!--  <div class="swiper mySwiper">-->
<!--    <div class="swiper-wrapper">-->
<!--      <div class="swiper-slide swiper-slide-one"></div>-->

<!--      <div class="swiper-slide swiper-slide-two"></div>-->

<!--      <div class="swiper-slide swiper-slide-three"></div>-->

<!--      <div class="swiper-slide swiper-slide-four"></div>-->

<!--      <div class="swiper-slide swiper-slide-five"></div>-->
<!--    </div>-->
<!--  </div>-->
<!--</main>-->
