<div *ngIf="loadingService.loading$ | async" class="spinner-container">
  <p-progressSpinner></p-progressSpinner>
</div>

<main class="property-details-container">
  <div class="property-content">
    <div class="property-header">
      <div class="property-info">
        <span>Hai în sat</span>
        <h1>{{ propertyName }}</h1>
        <hr>
        <p>{{ propertyDescription }}</p>
      </div>
      <div class="back-button">
        <p-button icon="pi pi-arrow-left" label="Înapoi la lista de proprietăți" (onClick)="goBackToProperties()" styleClass="p-button-text"></p-button>
      </div>
    </div>

    <div class="carousel-wrapper">
      <div #carouselTrack class="carousel-track">
        <div *ngFor="let item of images; let i = index"
             class="gsap-carousel-slide"
             [class.active]="i === currentIndex">
          <img [src]="item.itemImageSrc" [alt]="item.alt" />
        </div>
      </div>
    </div>

    <div class="carousel-controls">
      <button class="carousel-button" (click)="prevSlide()">
        ‹
      </button>
      <button class="carousel-button" (click)="nextSlide()">
        ›
      </button>
    </div>

    <!-- YouTube video for Milostea property -->
    <div *ngIf="propertyType === 0" class="video-container large-screen">
      <app-youtube-player [videoId]="'rhuyNfSvz0s'" [height]="'100%'"></app-youtube-player>
    </div>

    <div *ngIf="propertyType === 0" class="small-screen">
      <app-youtube-player [videoId]="'rhuyNfSvz0s'" [height]="'100%'"></app-youtube-player>
    </div>
  </div>
</main>
