<p-toast></p-toast>
<div>
  <p-menubar [model]="items">
    <ng-template pTemplate="start">
<!--      TODO de facut dimensiune dinamica la poza-->
      <img style="padding-left: 1rem; padding-right: 1rem" src="assets/logo.png" alt="Logo" height="80" class="mr-2" (click)="goToLandingPage()"/>
    </ng-template>
    <ng-template pTemplate="end">
      <div>
        <fa-icon style="padding-left: 1rem; padding-right: 1rem" [icon]="faFacebook"></fa-icon>
        <fa-icon style="padding-left: 1rem; padding-right: 1rem" [icon]="faInstagram"></fa-icon>
        <fa-icon style="padding-left: 1rem; padding-right: 1rem" [icon]="faTiktok"></fa-icon>
      </div>
    </ng-template>
  </p-menubar>
  <router-outlet></router-outlet>
<!--  <app-landing-page></app-landing-page>-->
<!--  <app-home-page></app-home-page>-->
<!--  <p-scrollTop icon="pi pi-arrow-up"></p-scrollTop>-->
</div>
