<p-toast></p-toast>
<div>
  <p-menubar [model]="items">
    <ng-template pTemplate="start">
<!--      TODO de facut dimensiune dinamica la poza-->
      <img style="padding-left: 1rem; padding-right: 1rem" src="assets/logo.png" alt="Logo" height="80" class="mr-2" (click)="goToLandingPage()"/>
    </ng-template>
    <ng-template pTemplate="end">
      <div>
        <fa-icon (click)="openLink('https://www.facebook.com/profile.php?id=61560478122728&is_tour_dismissed')" style="padding-left: 1rem; padding-right: 1rem; cursor: pointer" [icon]="faFacebook"></fa-icon>
        <fa-icon style="padding-left: 1rem; padding-right: 1rem; cursor: pointer" [icon]="faInstagram" (click)="openLink('https://www.instagram.com/hai.in.sat?igsh=MXh5NmFqcXhjdThtYQ%3D%3D&utm_source=qr')"></fa-icon>
        <fa-icon (click)="openLink('https://www.tiktok.com/@hai.in.sat?_t=8n1yemWQQMr&_r=1')" style="padding-left: 1rem; padding-right: 1rem; cursor: pointer" [icon]="faTiktok"></fa-icon>
      </div>
    </ng-template>
  </p-menubar>
  <router-outlet></router-outlet>

  <div class="large-screen">
    <div style="text-align: center" class="card justify-content-center">
      <div style="text-align: center; padding-bottom: 1rem" class="contact">
        <fa-icon (click)="openLink('https://www.tiktok.com/@hai.in.sat?_t=8n1yemWQQMr&_r=1')" class="fa-2x" style="padding-left: 2rem; cursor: pointer" [icon]="faTiktok"></fa-icon>
        <fa-icon (click)="openLink('https://www.facebook.com/profile.php?id=61560478122728&is_tour_dismissed')" class="fa-2x" style="padding-left: 3rem; cursor: pointer" [icon]="faSquareFacebook"></fa-icon>
        <fa-icon (click)="openLink('https://www.instagram.com/hai.in.sat?igsh=MXh5NmFqcXhjdThtYQ%3D%3D&utm_source=qr')" class="fa-2x" style="padding-left: 3rem; cursor: pointer" [icon]="faInstagram"></fa-icon>
      </div>
      <div style="display: inline; padding-right: 2rem">
        <p-chip class="clickable" (click)="showPolitica()" label="Politica de confidențialitate" />
      </div>
      <div style="display: inline; padding-right: 2rem">
        <p-chip class="clickable" (click)="showTermenii()" label="Termenii si condițiile"/>
      </div>
      <div style="display: inline; padding-right: 2rem">
        <p-chip class="clickable" (click)="showCookies()" label="Politica de cookies"/>
      </div>
      <p-chip class="clickable" (click)="showContact()" label="Contact" />
      <p-dialog
        header="Politica de confidențialitate"
        [modal]="true"
        [(visible)]="politica"
        [style]="{ width: '50rem' }"
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
        <p class="mb-5">
          <b>Cine suntem?</b>
        </p>
        <p class="mb-5">
          S.C. CORUXMAN IMPEX S.R.L. cu sediul în Horezu, str. Tudor Vladimirescu, județul Vâlcea, protejează intimitatea dumneavoastră și își dorește să vă simțiți în siguranță pe platforma noastră. Documentul de mai jos explică în detaliu datele pe care le colectăm și cum le utilizăm pentru a îndeplini aceste așteptări. Veți afla ce informații colectăm, modul în care sunt folosite și cum vă puteți proteja și securiza contul.
          Această politică de confidențialitate se aplică doar pe site-ul Hai în sat!
          <br><br>
          <b>Ce sunt datele cu caracter personal?</b><br><br>
          „Datele personale” sau „datele cu caracter personal” sunt informații unice privind o persoană fizică identificată sau identificabilă („persoana vizată”), precum nume, adresă, cod numeric personal, IP sau număr de telefon, date de localizare, un identificator online, sau alte elemente specifice identității fizice, fiziologice, genetice, psihice, economice, culturale sau sociale.
          De fiecare dată când solicităm datele tale personale, îți vom explica scopul pentru care ne sunt necesare, unde le păstrăm și cine are acces la ele. De asemenea, te informăm că îți vom pune la dispoziție informațiile pe care le deținem despre tine oricând dorești și că le vom șterge la cererea ta.
          <br><br>
          Prelucrarea datelor cu caracter personal.
          Prelucrăm datele Dvs. cu caracter personal exclusiv în cadrul dispoziţiilor legale cu privire la protecţia datelor cu caracter personal. Acestea sunt dispoziţiile Regulamentului UE 679/2016 pentru protecţia persoanelor cu privire la prelucrarea datelor cu caracter personal şi libera circulaţie a acestor date precum şi dispoziţiile Legii nr. 506/2004 privind prelucrarea datelor cu caracter personal şi protecţia vieţii private în sectorul comunicaţiilor electronice.Salariaţii şi împuterniciţii noştri au obligaţia de a respecta dispoziţiile cu privire la protecţia datelor conform normelor legale.
          <br>
        </p>
        <p class="mb-5">
          <b>Scopul prelucrării datelor</b><br><br>
          Informațiile personale colectate prin intermediul website-ului nostru vor fi utilizate în scopurile specificate în această politică sau în paginile relevante ale website-ului. Putem folosi informațiile dvs. personale pentru:
          <br>- Administrarea website-ului și a afacerii noastre;
          <br>- Personalizarea website-ului pentru dvs.;
          <br>- Autorizarea utilizării serviciilor disponibile pe website-ul nostru;
          <br>- Trimiterea de rapoarte, facturi și notificări de plată către dvs. și colectarea plăților de la dvs.;
          <br>- Trimiterea de comunicări comerciale pentru informare;
          <br>- Trimiterea de notificări prin e-mail, solicitate explicit de dvs.;
          <br>- Trimiterea buletinului nostru informativ prin e-mail, dacă ați solicitat acest lucru (vă puteți dezabona oricând);
          <br>- Trimiterea de comunicări de marketing referitoare la afacerea noastră sau la companiile unor terți selectați cu atenție, care considerăm că v-ar putea interesa, prin poștă sau, unde ați consimțit în mod specific, prin e-mail sau tehnologii similare (vă puteți dezabona oricând de la aceste comunicări);
          <br>- Furnizarea de informații statistice despre utilizatorii noștri către terți (acești terți nu vor putea identifica utilizatorii pe baza acestor informații);
          <br>- Abordarea solicitărilor și reclamațiilor făcute de dvs. sau despre dvs. referitoare la website-ul nostru;
          <br>- Menținerea securității website-ului nostru și prevenirea fraudelor;
          <br>- Verificarea respectării termenilor și condițiilor care reglementează utilizarea website-ului nostru (inclusiv monitorizarea mesajelor private trimise prin intermediul serviciului nostru de mesagerie privată); și
          <br>- Alte utilizări specificate.
        </p>
        <p class="mb-5">
          <b>Ce date colectăm?</b><br><br>
          Colectăm date cu caracter personal pentru a răspunde eficient solicitărilor tale. Ne furnizezi unele dintre aceste date direct, de exemplu, când ne trimiți un mesaj prin intermediul formularului de contact, și altele indirect, cum ar fi adresa ta IP. Nu folosim adresa ta IP pentru a te identifica, dar te informăm că aceasta este stocată în momentul în care accesezi website-ul nostru, în principal din motive de securitate. Ai dreptul să soliciți ștergerea IP-ului!
          În funcție de interacțiunile pe care le ai cu website-ul nostru, colectăm următoarele date cu caracter personal:
          <br>- Nume și prenume – pentru identificare;
          <br>- Adresa de email – pentru comunicare;
          <br>- Număr de telefon – pentru comunicare;
          <br>- Companie – pentru identificare;
          <br>- Domeniu de activitate – pentru identificare.
          <br>Datele cu caracter personal solicitate la transmiterea mesajului sunt folosite DOAR pentru a lua legătura cu tine și a răspunde cererii tale. Ulterior, pot fi solicitate și date prevăzute de codul fiscal pentru facturarea produselor comandate/câștigate.
          Date transmise involuntar, atunci când interacționezi cu website-ul nostru:
          <br>- Adresa IP – Este înregistrată când vizitezi website-ul nostru. Nu folosim adresa ta IP pentru a te identifica sau pentru alte scopuri.
          <br>- Sistemul de operare, browserul, activitatea de navigare  și alte informații despre modul în care ai interacționat cu website-ul. Putem colecta aceste informații prin utilizarea cookies sau a altor tehnologii similare. Pentru detalii, te rugăm să consulți Politica privind fișierele cookies.
        </p>
        <p class="mb-5">
          <b>Ce drepturi aveți și cum le puteți exercita?</b><br><br>
          Conform Regulamentului UE 679/2016, aveți următoarele drepturi:<br>
          <br>Dreptul de acces: Puteți obține confirmarea că prelucrăm datele dvs. personale și informații despre specificul prelucrării.
          <br>Dreptul la rectificarea datelor: Puteți solicita modificarea datelor dvs. personale incorecte sau completarea datelor incomplete.
          <br>Dreptul la ștergerea datelor („dreptul de a fi uitat"): Puteți solicita ștergerea datelor personale dacă:
          <br>-Nu mai sunt necesare pentru scopurile pentru care au fost colectate.
          <br>-V-ați retras consimțământul și nu există alte temeiuri legale pentru prelucrare.
          <br>-Datele sunt prelucrate ilegal.
          <br>-Datele trebuie șterse pentru a respecta legislația relevantă.
          <br>Dreptul la restricționarea prelucrării: Puteți solicita restricționarea prelucrării datelor dvs. personale în anumite condiții, cum ar fi contestarea exactității datelor sau prelucrarea ilegală.
          <br>Dreptul la portabilitatea datelor: Dacă prelucrăm datele prin mijloace automate, puteți solicita ca datele dvs. să fie furnizate într-un format structurat, utilizat frecvent și citit automat. De asemenea, putem transmite datele unei alte entități, dacă este posibil tehnic.
          <br>Dreptul la opoziție și procesul decizional individual automatizat, inclusiv crearea de profiluri: Vă puteți opune prelucrărilor pentru scopuri de marketing, inclusiv profilărilor efectuate în acest scop, și prelucrărilor bazate pe interesul legitim al societății din motive legate de situația dvs. specifică.
          <br>Dreptul la retragerea consimțământului: Puteți retrage consimțământul pentru prelucrarea datelor în scop de informare sau promovare în orice moment.
          <br>Dreptul de a depune o plângere la autoritatea de supraveghere: Aveți dreptul de a depune o plângere la autoritatea de supraveghere dacă considerați că v-au fost încălcate drepturile.
          <br>Dreptul la o cale de atac judiciară: Aveți dreptul de a exercita o cale de atac judiciară eficientă împotriva unei decizii obligatorii a unei autorități de supraveghere.
          <br>Dreptul de a fi notificat de operator: Aveți dreptul de a fi notificat cu privire la prelucrarea datelor dvs. personale.
        </p>
        <b>Perioada de păstrare a datelor personale</b><br><br>
        Pentru a stabili durata pentru care datele personale vor fi prelucrate și păstrate, luăm în considerare durata contractuală necesară pentru îndeplinirea obligațiilor noastre, precum și termenele de arhivare prevăzute de dispozițiile legale aplicabile. Dacă doriți mai multe informații despre perioada de păstrare a datelor dvs. cu caracter personal, vă rugăm să ne contactați la adresa contact@hai-în-sat.ro.
        În cazul în care prelucrăm datele dvs. cu caracter personal pe baza consimțământului dvs., acestea vor fi prelucrate numai pentru perioada specificată în consimțământul dvs., cu excepția situațiilor în care vă retrageți sau limitați consimțământul înainte de expirarea acestei perioade. În astfel de cazuri, vom înceta prelucrarea respectivelor date cu caracter personal în scopurile relevante, sub rezerva oricărei obligații legale de a prelucra aceste date și/sau a necesității noastre de a prelucra aceste date pentru exercitarea drepturilor noastre legitime (inclusiv drepturile legitime ale altor persoane).
        <p class="mb-5">
          <b>Contact</b><br><br>
          Dacă ai nevoie de orice informații legate de website-ul Hai în sat! sau serviciile SC CORUXMAN IMPEX S.R.L., ne poți contacta la adresa de e-mail contact@hai-în-sat.ro.
          <br>Te rugăm să ne scrii la această adresă dacă:
          <br>- Vrei să afli mai multe detalii despre informațiile din această pagină;
          <br>- Vrei să nu mai folosim informațiile pe care le avem despre tine;
          <br>- Vrei să îți exerciți oricare dintre drepturile enumerate mai sus;
          <br>- Ai o plângere la adresa noastră.
          De asemenea, ne poți contacta la numărul de telefon menționat pe website.
        </p>
      </p-dialog>
      <p-dialog
        header="Termenii si condițiile"
        [modal]="true"
        [(visible)]="termenii"
        [style]="{ width: '50rem' }"
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
        <p class="mb-5">
          <b>Termenii și condițiile site-ului</b>
        </p>
        <p class="mb-5">
          Prin utilizarea site-ului www.hai-în-sat.ro, sunteți de acord cu termenii și condițiile prezentate pe această pagină. Accesul și utilizarea site-ului sunt supuse acestor termeni și condiții, precum și tuturor legilor și regulamentelor aplicabile. Prin accesarea și utilizarea site-ului, acceptați fără restricții acești termeni și condiții și recunoașteți că orice alte acorduri între dumneavoastră și terțe părți cu privire la utilizarea site-ului sunt înlocuite de prevederile acestui document. Dacă nu sunteți de acord cu acești termeni și condiții, vă rugăm să părăsiți platforma.
          Prin continuarea utilizării serviciilor și produselor oferite de site-ul www.hai-în-sat.ro, confirmați că sunteți de acord cu termenii și condițiile de utilizare menționate mai jos.
          Termeni
          Conținutul acestui site (descrieri, caracteristici, imagini, prețuri, formă de prezentare etc.) nu poate fi reprodus sau utilizat fără acordul scris al proprietarului site-ului.
          Termenii și condițiile prezentate respectă reglementările legislative în vigoare.
          S.C. CORUXMAN IMPEX S.R.L., editor al ziarului Hai în sat! și al site-ului www.hai-în-sat.ro, își desfășoară activitatea în conformitate cu legislația română. În caz de utilizare frauduloasă a sistemului de achiziții online cu plata prin carduri bancare, Hai în sat! va întreprinde toate demersurile necesare cerute de autoritățile competente și va furniza datele solicitate de acestea.
          Pe site-ul www.hai-în-sat.ro, utilizatorul este responsabil pentru toate activitățile care survin prin accesarea contului și parolei personale. S.C. CORUXMAN S.R.L. nu poate fi responsabilă pentru erorile apărute din neglijența utilizatorului în ceea ce privește securitatea și confidențialitatea contului și parolei sale.
          Datele personale ale utilizatorului vor fi folosite de S.C. CORUXMAN S.R.L. doar în scopurile declarate ale acestui site. Informațiile din contul de înregistrare și datele din formularul de comandă vor fi utilizate pentru a trimite confirmările comenzilor, informări despre eventualele promoții etc. Datele cu caracter personal ale utilizatorilor vor fi folosite de S.C. CORUXMAN S.R.L. în scopuri de marketing (transmiterea materialelor publicitare) numai cu acordul utilizatorilor.
          Datele personale pot fi transmise autorităților competente pentru verificarea tranzacțiilor comerciale sau altor autorități în drept să efectueze orice verificări justificate în baza legii, dacă acest lucru este solicitat conform legislației în vigoare.
          Drepturile autorului
        </p>
        <p class="mb-5">
          Toate drepturile rezervate. S.C. CORUXMAN IMPEX S.R.L. acordă permisiunea de a utiliza site-ul www.hai-în-sat.ro în următoarele condiții:
          <br>-	 Este interzisă copierea, modificarea, expunerea, reutilizarea, reproducerea, publicarea, autorizarea, acordarea de licență de utilizare, crearea de lucrări derivate din, transferul, vânzarea sau utilizarea conținutului publicat de S.C. CORUXMAN IMPEX S.R.L. pe acest site, materialele protejate prin legile naționale și internaționale de copyright, în alt mod decât cu acordul scris al S.C. CORUXMAN IMPEX S.R.L., precum și orice modalitate de exploatare a conținutului site-ului www.hai-în-sat.ro, cu excepția afișării pe ecranul unui computer personal și a imprimării sau descărcării, în scop personal și necomercial, a anumitor documente sau informații explicit desemnate în acest scop, cu condiția păstrării nemodificate a tuturor elementelor care fac referire la drepturile de proprietate intelectuală, alte drepturi de proprietate și condițiile de utilizare ale documentelor sau informațiilor respective.
          <br>-	 Este interzis să utilizați site-ul www.hai-în-sat.ro pentru a afișa sau transmite orice fel de material cu caracter amenințător, fals, înșelător, abuziv, de hărțuire, licențios, calomniator, vulgar, obscen, scandalos, instigator, pornografic sau profanator, sau orice alt fel de material care poate constitui sau încuraja un comportament ce ar putea da naștere unei infracțiuni, ar putea conduce la răspunderea civilă sau ar încălca în alt mod legea. S.C. CORUXMAN IMPEX S.R.L. va coopera cu oricare dintre autoritățile desemnate să aplice legea și se va conforma cu orice sentință judecătorească prin care se cere sau se ordonă societății S.C. CORUXMAN IMPEX S.R.L. să dezvăluie identitatea oricărei persoane care ar afișa sau transmite orice fel de informație sau material de acest fel pe sau prin intermediul site-ului www.hai-în-sat.ro.
          <br>-	 Este interzisă redistribuirea vreunei pagini din site prin framing, cu excepția existenței unui acord scris din partea S.C. CORUXMAN IMPEX S.R.L. cu privire la acceptul redistribuirii vreunei pagini.
          <br>-	 Este interzis să utilizați site-ul www.hai-în-sat.ro în scopuri de publicitate sau pentru orice fel de cerere/ofertă cu caracter comercial fără acordul S.C. CORUXMAN IMPEX S.R.L.
        </p>
        <p class="mb-5">
          -	Preluarea de informații de către alte site-uri web poate fi făcută numai în acord cu termenii agreați și menționați în această pagină de către S.C. CORUXMAN IMPEX S.R.L., cu excepția unui acord, valabil și recunoscut de ambele părți, utilizator și S.C. CORUXMAN IMPEX S.R.L.
          <br>În mod obligatoriu, în aceste cazuri, trebuie citată sursa informației. Preluarea a mai mult decât cele prevăzute anterior se poate realiza doar în condițiile unui acord, financiar sau de altă natură, încheiat cu S.C. CORUXMAN IMPEX S.R.L.
          Mediile offline se supun de asemenea termenilor agreați de către S.C. CORUXMAN IMPEX S.R.L. și în conformitate cu prevederile Legii drepturilor de autor din România.
          <br>-	 www.hai-în-sat.ro, logo-ul Hai în sat! și orice derivat al acestuia aprobat și validat de S.C. CORUXMAN IMPEX S.R.L. sunt proprietatea S.C. CORUXMAN IMPEX S.R.L., și nu pot fi utilizate fără acordul scris al S.C. CORUXMAN IMPEX S.R.L., indiferent de mediul în care se dorește utilizarea acestora.
          Securitate
          S.C. CORUXMAN IMPEX S.R.L. ia toate măsurile necesare pentru a proteja informațiile personale ale utilizatorilor săi. Atunci când completați datele personale pe site-ul nostru, acestea sunt protejate atât offline, cât și online. Toate informațiile despre utilizatori sunt tratate ca fiind confidențiale. Numai angajații ale căror sarcini specifice implică lucrul cu informații personale au acces la datele de identificare ale utilizatorilor. Serverele care găzduiesc aceste informații personale sunt localizate într-un loc securizat. Pentru detalii suplimentare despre datele pe care le prelucrăm, drepturile dumneavoastră și informații generale despre prelucrarea datelor cu caracter personal, vă rugăm să vizitați https://www.hai-în-sat.ro/politica-de-confidentialitate.
          Actualizare
          <br>Termenii și Condițiile sunt revizuite ori de câte ori este necesar. Orice modificare va fi reflectată în tipul de informații pe care Hai în sat! le publică sau transmite. Vă recomandăm să verificați periodic aceste condiții pentru a fi la curent cu informațiile colectate, utilizate și transmise de Hai în sat!
        </p>
      </p-dialog>
      <p-dialog
        header="Politica de cookies"
        [modal]="true"
        [(visible)]="cookies"
        [style]="{ width: '50rem' }"
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
        <p class="mb-5">
          <b>Politica de cookies</b><br>
          <br>Politica de cookies prezentă este aplicată tuturor utilizatorilor care accesează pagina hai-în-sat.ro.
          <br><b><br>Ce este un cookie?</b><br>
          <br>Cookie-urile sunt fișiere mici de text, formate din litere și numere, stocate pe dispozitivul utilizatorului prin solicitarea unui web-server către un browser, fiind complet pasive și fără capacitatea de a rula programe software sau de a accesa datele utilizatorului.
          <br>La ce sunt folosite Cookie-urile?
          <br>Cookie-urile îmbunătățesc experiența de navigare a utilizatorilor prin identificarea erorilor, anticiparea nevoilor pe baza produselor sau serviciilor accesate anterior și prin memorarea setărilor și preferințelor utilizatorilor, cum ar fi acceptul politicii de cookies. Aceste fișiere permit recunoașterea dispozitivului utilizatorului și prezentarea conținutului adaptat preferințelor acestuia, asigurând o navigare plăcută și suportând eforturile companiei de a oferi servicii confortabile, inclusiv preferințe de confidențialitate și publicitate relevantă. De asemenea, cookie-urile sunt utilizate pentru a genera statistici anonime agregate care ajută la îmbunătățirea structurii și conținutului paginilor web, fără a identifica personal utilizatorii.
          <br><br><b>Durata de existență a cookie</b><br><br>
          Utilizăm două tipuri de cookie-uri: de sesiune și persistente. Cookie-urile de sesiune sunt fișiere temporare care rămân pe dispozitivul utilizatorului până la încheierea sesiunii sau închiderea aplicației (browserului web). Cookie-urile persistente rămân pe dispozitivul utilizatorului pentru o perioadă specificată de parametrii cookie-ului sau până când sunt șterse manual de utilizator.
          Folosim cookie-uri pentru a personaliza conținutul și anunțurile, pentru a oferi funcționalități de rețele sociale și pentru a analiza traficul. De asemenea, împărtășim informații despre utilizarea site-ului nostru cu partenerii noștri de rețele sociale, publicitate și analize, care le pot combina cu alte date furnizate de dvs. sau colectate din utilizarea serviciilor lor.
          Cum folosește site-ul nostru cookie-urile
          O vizită pe acest site poate include următoarele tipuri de cookie-uri:
          <br>- Cookie-uri strict necesare pentru funcționarea site-ului
          <br>- Cookie-uri de analiză
          <br>- Cookie-uri pentru publicitate
          <br>Cookie-urile și tehnologiile similare strict necesare sunt esențiale pentru funcționarea corectă a site-ului. Acestea sunt setate pe dispozitivul dumneavoastră la accesarea site-ului sau în urma anumitor acțiuni efectuate pe site. Puteți configura browser-ul pentru a bloca cookie-urile, dar în acest caz, anumite secțiuni ale site-ului nu vor funcționa corect.
        </p>
      </p-dialog>
      <p-dialog
        header="Contact"
        [modal]="true"
        [(visible)]="contact"
        [style]="{ width: '30rem' }"
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
        <div class="contact-info">
          <div style="display: flex; text-align: center">
            <h2>Contactează-ne <br> și hai în sat!</h2>
            <img style="width: 6rem; height: 6rem; margin-left: 2rem" alt="Logo" src="assets/logo.png" />
          </div>
          <div class="text" style="padding-top: 1rem; display: flex; align-items: center">
            <img src="assets/instagram.png" class="images-style">
            <span (click)="openLink('https://www.instagram.com/hai.in.sat?igsh=MXh5NmFqcXhjdThtYQ%3D%3D&utm_source=qr')" style="font-size: 1.7rem; cursor: pointer">Instagram</span>
          </div>
          <div class="text" style="display: flex; padding-top: 1.5rem; align-items: center">
            <img src="assets/facebook.png" class="images-style">
            <span (click)="openLink('https://www.facebook.com/profile.php?id=61560478122728&is_tour_dismissed')" style="font-size: 1.7rem; cursor: pointer">Facebook</span>
          </div>
          <div id="tiktok_mobile" class="text" style="display: flex; padding-top: 1.5rem; align-items: center">
            <img src="assets/tiktok.png" class="images-style">
            <span (click)="openLink('https://www.tiktok.com/@hai.in.sat?_t=8n1yemWQQMr&_r=1')" style="font-size: 1.7rem; cursor: pointer">Tiktok</span>
          </div>
          <div class="text" style="display: flex; padding-top: 1.5rem; align-items: center">
            <img src="assets/wapp.png" class="images-style">
            <span style="font-size: 1.7rem; cursor: pointer">0728140650</span>
            <img src="assets/phone.png" class="images-style" style="margin-left: 0.5rem">
          </div>
          <div class="text" style="display: flex; padding-top: 1.5rem; align-items: center">
            <img src="assets/envelope-solid.svg" class="images-style">
            <span>contact@hai-în-sat.ro</span>
          </div>
        </div>
      </p-dialog>
    </div>
  </div>

  <div class="small-screen">
    <div class="card justify-content-center">
      <div style="text-align: center">
        <fa-icon (click)="openLink('https://www.tiktok.com/@hai.in.sat?_t=8n1yemWQQMr&_r=1')" class="fa-2x" style="padding-left: 2rem" [icon]="faTiktok"></fa-icon>
        <fa-icon (click)="openLink('https://www.facebook.com/profile.php?id=61560478122728&is_tour_dismissed')" class="fa-2x" style="padding-left: 3rem" [icon]="faSquareFacebook"></fa-icon>
        <fa-icon (click)="openLink('https://www.instagram.com/hai.in.sat?igsh=MXh5NmFqcXhjdThtYQ%3D%3D&utm_source=qr')" class="fa-2x" style="padding-left: 3rem" [icon]="faInstagram"></fa-icon>
      </div>
      <div style="padding-top: 1rem; text-align: center">
        <p-chip (click)="showPolitica()" label="Politica de confidențialitate" />
      </div>
      <div style="padding-top: 1rem; text-align: center">
        <p-chip (click)="showTermenii()" label="Termenii si condițiile"/>
      </div>
      <div style="padding-top: 1rem; text-align: center">
        <p-chip (click)="showCookies()" label="Politica de cookies"/>
      </div>
      <div style="padding-top: 1rem; text-align: center">
        <p-chip (click)="goToContactUsPage()" label="Contact" />
      </div>
      <p-dialog
        header="Politica de confidențialitate"
        [modal]="true"
        [(visible)]="politica"
        [style]="{ width: '50rem' }"
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
        <p class="mb-5">
          <b>Cine suntem?</b>
        </p>
        <p class="mb-5">
          S.C. CORUXMAN IMPEX S.R.L. cu sediul în Horezu, str. Tudor Vladimirescu, județul Vâlcea, protejează intimitatea dumneavoastră și își dorește să vă simțiți în siguranță pe platforma noastră. Documentul de mai jos explică în detaliu datele pe care le colectăm și cum le utilizăm pentru a îndeplini aceste așteptări. Veți afla ce informații colectăm, modul în care sunt folosite și cum vă puteți proteja și securiza contul.
          Această politică de confidențialitate se aplică doar pe site-ul Hai în sat!
          <br><br>
          <b>Ce sunt datele cu caracter personal?</b><br><br>
          „Datele personale” sau „datele cu caracter personal” sunt informații unice privind o persoană fizică identificată sau identificabilă („persoana vizată”), precum nume, adresă, cod numeric personal, IP sau număr de telefon, date de localizare, un identificator online, sau alte elemente specifice identității fizice, fiziologice, genetice, psihice, economice, culturale sau sociale.
          De fiecare dată când solicităm datele tale personale, îți vom explica scopul pentru care ne sunt necesare, unde le păstrăm și cine are acces la ele. De asemenea, te informăm că îți vom pune la dispoziție informațiile pe care le deținem despre tine oricând dorești și că le vom șterge la cererea ta.
          <br><br>
          Prelucrarea datelor cu caracter personal.
          Prelucrăm datele Dvs. cu caracter personal exclusiv în cadrul dispoziţiilor legale cu privire la protecţia datelor cu caracter personal. Acestea sunt dispoziţiile Regulamentului UE 679/2016 pentru protecţia persoanelor cu privire la prelucrarea datelor cu caracter personal şi libera circulaţie a acestor date precum şi dispoziţiile Legii nr. 506/2004 privind prelucrarea datelor cu caracter personal şi protecţia vieţii private în sectorul comunicaţiilor electronice.Salariaţii şi împuterniciţii noştri au obligaţia de a respecta dispoziţiile cu privire la protecţia datelor conform normelor legale.
          <br>
        </p>
        <p class="mb-5">
          <b>Scopul prelucrării datelor</b><br><br>
          Informațiile personale colectate prin intermediul website-ului nostru vor fi utilizate în scopurile specificate în această politică sau în paginile relevante ale website-ului. Putem folosi informațiile dvs. personale pentru:
          <br>- Administrarea website-ului și a afacerii noastre;
          <br>- Personalizarea website-ului pentru dvs.;
          <br>- Autorizarea utilizării serviciilor disponibile pe website-ul nostru;
          <br>- Trimiterea de rapoarte, facturi și notificări de plată către dvs. și colectarea plăților de la dvs.;
          <br>- Trimiterea de comunicări comerciale pentru informare;
          <br>- Trimiterea de notificări prin e-mail, solicitate explicit de dvs.;
          <br>- Trimiterea buletinului nostru informativ prin e-mail, dacă ați solicitat acest lucru (vă puteți dezabona oricând);
          <br>- Trimiterea de comunicări de marketing referitoare la afacerea noastră sau la companiile unor terți selectați cu atenție, care considerăm că v-ar putea interesa, prin poștă sau, unde ați consimțit în mod specific, prin e-mail sau tehnologii similare (vă puteți dezabona oricând de la aceste comunicări);
          <br>- Furnizarea de informații statistice despre utilizatorii noștri către terți (acești terți nu vor putea identifica utilizatorii pe baza acestor informații);
          <br>- Abordarea solicitărilor și reclamațiilor făcute de dvs. sau despre dvs. referitoare la website-ul nostru;
          <br>- Menținerea securității website-ului nostru și prevenirea fraudelor;
          <br>- Verificarea respectării termenilor și condițiilor care reglementează utilizarea website-ului nostru (inclusiv monitorizarea mesajelor private trimise prin intermediul serviciului nostru de mesagerie privată); și
          <br>- Alte utilizări specificate.
        </p>
        <p class="mb-5">
          <b>Ce date colectăm?</b><br><br>
          Colectăm date cu caracter personal pentru a răspunde eficient solicitărilor tale. Ne furnizezi unele dintre aceste date direct, de exemplu, când ne trimiți un mesaj prin intermediul formularului de contact, și altele indirect, cum ar fi adresa ta IP. Nu folosim adresa ta IP pentru a te identifica, dar te informăm că aceasta este stocată în momentul în care accesezi website-ul nostru, în principal din motive de securitate. Ai dreptul să soliciți ștergerea IP-ului!
          În funcție de interacțiunile pe care le ai cu website-ul nostru, colectăm următoarele date cu caracter personal:
          <br>- Nume și prenume – pentru identificare;
          <br>- Adresa de email – pentru comunicare;
          <br>- Număr de telefon – pentru comunicare;
          <br>- Companie – pentru identificare;
          <br>- Domeniu de activitate – pentru identificare.
          <br>Datele cu caracter personal solicitate la transmiterea mesajului sunt folosite DOAR pentru a lua legătura cu tine și a răspunde cererii tale. Ulterior, pot fi solicitate și date prevăzute de codul fiscal pentru facturarea produselor comandate/câștigate.
          Date transmise involuntar, atunci când interacționezi cu website-ul nostru:
          <br>- Adresa IP – Este înregistrată când vizitezi website-ul nostru. Nu folosim adresa ta IP pentru a te identifica sau pentru alte scopuri.
          <br>- Sistemul de operare, browserul, activitatea de navigare  și alte informații despre modul în care ai interacționat cu website-ul. Putem colecta aceste informații prin utilizarea cookies sau a altor tehnologii similare. Pentru detalii, te rugăm să consulți Politica privind fișierele cookies.
        </p>
        <p class="mb-5">
          <b>Ce drepturi aveți și cum le puteți exercita?</b><br><br>
          Conform Regulamentului UE 679/2016, aveți următoarele drepturi:<br>
          <br>Dreptul de acces: Puteți obține confirmarea că prelucrăm datele dvs. personale și informații despre specificul prelucrării.
          <br>Dreptul la rectificarea datelor: Puteți solicita modificarea datelor dvs. personale incorecte sau completarea datelor incomplete.
          <br>Dreptul la ștergerea datelor („dreptul de a fi uitat"): Puteți solicita ștergerea datelor personale dacă:
          <br>-Nu mai sunt necesare pentru scopurile pentru care au fost colectate.
          <br>-V-ați retras consimțământul și nu există alte temeiuri legale pentru prelucrare.
          <br>-Datele sunt prelucrate ilegal.
          <br>-Datele trebuie șterse pentru a respecta legislația relevantă.
          <br>Dreptul la restricționarea prelucrării: Puteți solicita restricționarea prelucrării datelor dvs. personale în anumite condiții, cum ar fi contestarea exactității datelor sau prelucrarea ilegală.
          <br>Dreptul la portabilitatea datelor: Dacă prelucrăm datele prin mijloace automate, puteți solicita ca datele dvs. să fie furnizate într-un format structurat, utilizat frecvent și citit automat. De asemenea, putem transmite datele unei alte entități, dacă este posibil tehnic.
          <br>Dreptul la opoziție și procesul decizional individual automatizat, inclusiv crearea de profiluri: Vă puteți opune prelucrărilor pentru scopuri de marketing, inclusiv profilărilor efectuate în acest scop, și prelucrărilor bazate pe interesul legitim al societății din motive legate de situația dvs. specifică.
          <br>Dreptul la retragerea consimțământului: Puteți retrage consimțământul pentru prelucrarea datelor în scop de informare sau promovare în orice moment.
          <br>Dreptul de a depune o plângere la autoritatea de supraveghere: Aveți dreptul de a depune o plângere la autoritatea de supraveghere dacă considerați că v-au fost încălcate drepturile.
          <br>Dreptul la o cale de atac judiciară: Aveți dreptul de a exercita o cale de atac judiciară eficientă împotriva unei decizii obligatorii a unei autorități de supraveghere.
          <br>Dreptul de a fi notificat de operator: Aveți dreptul de a fi notificat cu privire la prelucrarea datelor dvs. personale.
        </p>
        <b>Perioada de păstrare a datelor personale</b><br><br>
        Pentru a stabili durata pentru care datele personale vor fi prelucrate și păstrate, luăm în considerare durata contractuală necesară pentru îndeplinirea obligațiilor noastre, precum și termenele de arhivare prevăzute de dispozițiile legale aplicabile. Dacă doriți mai multe informații despre perioada de păstrare a datelor dvs. cu caracter personal, vă rugăm să ne contactați la adresa contact@hai-în-sat.ro.
        În cazul în care prelucrăm datele dvs. cu caracter personal pe baza consimțământului dvs., acestea vor fi prelucrate numai pentru perioada specificată în consimțământul dvs., cu excepția situațiilor în care vă retrageți sau limitați consimțământul înainte de expirarea acestei perioade. În astfel de cazuri, vom înceta prelucrarea respectivelor date cu caracter personal în scopurile relevante, sub rezerva oricărei obligații legale de a prelucra aceste date și/sau a necesității noastre de a prelucra aceste date pentru exercitarea drepturilor noastre legitime (inclusiv drepturile legitime ale altor persoane).
        <p class="mb-5">
          <b>Contact</b><br><br>
          Dacă ai nevoie de orice informații legate de website-ul Hai în sat! sau serviciile SC CORUXMAN IMPEX S.R.L., ne poți contacta la adresa de e-mail contact@hai-în-sat.ro.
          <br>Te rugăm să ne scrii la această adresă dacă:
          <br>- Vrei să afli mai multe detalii despre informațiile din această pagină;
          <br>- Vrei să nu mai folosim informațiile pe care le avem despre tine;
          <br>- Vrei să îți exerciți oricare dintre drepturile enumerate mai sus;
          <br>- Ai o plângere la adresa noastră.
          De asemenea, ne poți contacta la numărul de telefon menționat pe website.
        </p>
      </p-dialog>
      <p-dialog
        header="Termenii si condițiile"
        [modal]="true"
        [(visible)]="termenii"
        [style]="{ width: '50rem' }"
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
        <p class="mb-5">
          <b>Termenii și condițiile site-ului</b>
        </p>
        <p class="mb-5">
          Prin utilizarea site-ului www.hai-în-sat.ro, sunteți de acord cu termenii și condițiile prezentate pe această pagină. Accesul și utilizarea site-ului sunt supuse acestor termeni și condiții, precum și tuturor legilor și regulamentelor aplicabile. Prin accesarea și utilizarea site-ului, acceptați fără restricții acești termeni și condiții și recunoașteți că orice alte acorduri între dumneavoastră și terțe părți cu privire la utilizarea site-ului sunt înlocuite de prevederile acestui document. Dacă nu sunteți de acord cu acești termeni și condiții, vă rugăm să părăsiți platforma.
          Prin continuarea utilizării serviciilor și produselor oferite de site-ul www.hai-în-sat.ro, confirmați că sunteți de acord cu termenii și condițiile de utilizare menționate mai jos.
          Termeni
          Conținutul acestui site (descrieri, caracteristici, imagini, prețuri, formă de prezentare etc.) nu poate fi reprodus sau utilizat fără acordul scris al proprietarului site-ului.
          Termenii și condițiile prezentate respectă reglementările legislative în vigoare.
          S.C. CORUXMAN IMPEX S.R.L., editor al ziarului Hai în sat! și al site-ului www.hai-în-sat.ro, își desfășoară activitatea în conformitate cu legislația română. În caz de utilizare frauduloasă a sistemului de achiziții online cu plata prin carduri bancare, Hai în sat! va întreprinde toate demersurile necesare cerute de autoritățile competente și va furniza datele solicitate de acestea.
          Pe site-ul www.hai-în-sat.ro, utilizatorul este responsabil pentru toate activitățile care survin prin accesarea contului și parolei personale. S.C. CORUXMAN S.R.L. nu poate fi responsabilă pentru erorile apărute din neglijența utilizatorului în ceea ce privește securitatea și confidențialitatea contului și parolei sale.
          Datele personale ale utilizatorului vor fi folosite de S.C. CORUXMAN S.R.L. doar în scopurile declarate ale acestui site. Informațiile din contul de înregistrare și datele din formularul de comandă vor fi utilizate pentru a trimite confirmările comenzilor, informări despre eventualele promoții etc. Datele cu caracter personal ale utilizatorilor vor fi folosite de S.C. CORUXMAN S.R.L. în scopuri de marketing (transmiterea materialelor publicitare) numai cu acordul utilizatorilor.
          Datele personale pot fi transmise autorităților competente pentru verificarea tranzacțiilor comerciale sau altor autorități în drept să efectueze orice verificări justificate în baza legii, dacă acest lucru este solicitat conform legislației în vigoare.
          Drepturile autorului
        </p>
        <p class="mb-5">
          Toate drepturile rezervate. S.C. CORUXMAN IMPEX S.R.L. acordă permisiunea de a utiliza site-ul www.hai-în-sat.ro în următoarele condiții:
          <br>-	 Este interzisă copierea, modificarea, expunerea, reutilizarea, reproducerea, publicarea, autorizarea, acordarea de licență de utilizare, crearea de lucrări derivate din, transferul, vânzarea sau utilizarea conținutului publicat de S.C. CORUXMAN IMPEX S.R.L. pe acest site, materialele protejate prin legile naționale și internaționale de copyright, în alt mod decât cu acordul scris al S.C. CORUXMAN IMPEX S.R.L., precum și orice modalitate de exploatare a conținutului site-ului www.hai-în-sat.ro, cu excepția afișării pe ecranul unui computer personal și a imprimării sau descărcării, în scop personal și necomercial, a anumitor documente sau informații explicit desemnate în acest scop, cu condiția păstrării nemodificate a tuturor elementelor care fac referire la drepturile de proprietate intelectuală, alte drepturi de proprietate și condițiile de utilizare ale documentelor sau informațiilor respective.
          <br>-	 Este interzis să utilizați site-ul www.hai-în-sat.ro pentru a afișa sau transmite orice fel de material cu caracter amenințător, fals, înșelător, abuziv, de hărțuire, licențios, calomniator, vulgar, obscen, scandalos, instigator, pornografic sau profanator, sau orice alt fel de material care poate constitui sau încuraja un comportament ce ar putea da naștere unei infracțiuni, ar putea conduce la răspunderea civilă sau ar încălca în alt mod legea. S.C. CORUXMAN IMPEX S.R.L. va coopera cu oricare dintre autoritățile desemnate să aplice legea și se va conforma cu orice sentință judecătorească prin care se cere sau se ordonă societății S.C. CORUXMAN IMPEX S.R.L. să dezvăluie identitatea oricărei persoane care ar afișa sau transmite orice fel de informație sau material de acest fel pe sau prin intermediul site-ului www.hai-în-sat.ro.
          <br>-	 Este interzisă redistribuirea vreunei pagini din site prin framing, cu excepția existenței unui acord scris din partea S.C. CORUXMAN IMPEX S.R.L. cu privire la acceptul redistribuirii vreunei pagini.
          <br>-	 Este interzis să utilizați site-ul www.hai-în-sat.ro în scopuri de publicitate sau pentru orice fel de cerere/ofertă cu caracter comercial fără acordul S.C. CORUXMAN IMPEX S.R.L.
        </p>
        <p class="mb-5">
          -	Preluarea de informații de către alte site-uri web poate fi făcută numai în acord cu termenii agreați și menționați în această pagină de către S.C. CORUXMAN IMPEX S.R.L., cu excepția unui acord, valabil și recunoscut de ambele părți, utilizator și S.C. CORUXMAN IMPEX S.R.L.
          <br>În mod obligatoriu, în aceste cazuri, trebuie citată sursa informației. Preluarea a mai mult decât cele prevăzute anterior se poate realiza doar în condițiile unui acord, financiar sau de altă natură, încheiat cu S.C. CORUXMAN IMPEX S.R.L.
          Mediile offline se supun de asemenea termenilor agreați de către S.C. CORUXMAN IMPEX S.R.L. și în conformitate cu prevederile Legii drepturilor de autor din România.
          <br>-	 www.hai-în-sat.ro, logo-ul Hai în sat! și orice derivat al acestuia aprobat și validat de S.C. CORUXMAN IMPEX S.R.L. sunt proprietatea S.C. CORUXMAN IMPEX S.R.L., și nu pot fi utilizate fără acordul scris al S.C. CORUXMAN IMPEX S.R.L., indiferent de mediul în care se dorește utilizarea acestora.
          Securitate
          S.C. CORUXMAN IMPEX S.R.L. ia toate măsurile necesare pentru a proteja informațiile personale ale utilizatorilor săi. Atunci când completați datele personale pe site-ul nostru, acestea sunt protejate atât offline, cât și online. Toate informațiile despre utilizatori sunt tratate ca fiind confidențiale. Numai angajații ale căror sarcini specifice implică lucrul cu informații personale au acces la datele de identificare ale utilizatorilor. Serverele care găzduiesc aceste informații personale sunt localizate într-un loc securizat. Pentru detalii suplimentare despre datele pe care le prelucrăm, drepturile dumneavoastră și informații generale despre prelucrarea datelor cu caracter personal, vă rugăm să vizitați https://www.hai-în-sat.ro/politica-de-confidentialitate.
          Actualizare
          <br>Termenii și Condițiile sunt revizuite ori de câte ori este necesar. Orice modificare va fi reflectată în tipul de informații pe care Hai în sat! le publică sau transmite. Vă recomandăm să verificați periodic aceste condiții pentru a fi la curent cu informațiile colectate, utilizate și transmise de Hai în sat!
        </p>
      </p-dialog>
      <p-dialog
        header="Politica de cookies"
        [modal]="true"
        [(visible)]="cookies"
        [style]="{ width: '50rem' }"
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
        <p class="mb-5">
          <b>Politica de cookies</b><br>
          <br>Politica de cookies prezentă este aplicată tuturor utilizatorilor care accesează pagina hai-în-sat.ro.
          <br>Ce este un cookie?
          <br>Cookie-urile sunt fișiere mici de text, formate din litere și numere, stocate pe dispozitivul utilizatorului prin solicitarea unui web-server către un browser, fiind complet pasive și fără capacitatea de a rula programe software sau de a accesa datele utilizatorului.
          <br>La ce sunt folosite Cookie-urile?
          <br>Cookie-urile îmbunătățesc experiența de navigare a utilizatorilor prin identificarea erorilor, anticiparea nevoilor pe baza produselor sau serviciilor accesate anterior și prin memorarea setărilor și preferințelor utilizatorilor, cum ar fi acceptul politicii de cookies. Aceste fișiere permit recunoașterea dispozitivului utilizatorului și prezentarea conținutului adaptat preferințelor acestuia, asigurând o navigare plăcută și suportând eforturile companiei de a oferi servicii confortabile, inclusiv preferințe de confidențialitate și publicitate relevantă. De asemenea, cookie-urile sunt utilizate pentru a genera statistici anonime agregate care ajută la îmbunătățirea structurii și conținutului paginilor web, fără a identifica personal utilizatorii.
          <br><b>Durata de existență a cookie</b>
          Utilizăm două tipuri de cookie-uri: de sesiune și persistente. Cookie-urile de sesiune sunt fișiere temporare care rămân pe dispozitivul utilizatorului până la încheierea sesiunii sau închiderea aplicației (browserului web). Cookie-urile persistente rămân pe dispozitivul utilizatorului pentru o perioadă specificată de parametrii cookie-ului sau până când sunt șterse manual de utilizator.
          Folosim cookie-uri pentru a personaliza conținutul și anunțurile, pentru a oferi funcționalități de rețele sociale și pentru a analiza traficul. De asemenea, împărtășim informații despre utilizarea site-ului nostru cu partenerii noștri de rețele sociale, publicitate și analize, care le pot combina cu alte date furnizate de dvs. sau colectate din utilizarea serviciilor lor.
          Cum folosește site-ul nostru cookie-urile
          O vizită pe acest site poate include următoarele tipuri de cookie-uri:
          <br>- Cookie-uri strict necesare pentru funcționarea site-ului
          <br>- Cookie-uri de analiză
          <br>- Cookie-uri pentru publicitate
          <br>Cookie-urile și tehnologiile similare strict necesare sunt esențiale pentru funcționarea corectă a site-ului. Acestea sunt setate pe dispozitivul dumneavoastră la accesarea site-ului sau în urma anumitor acțiuni efectuate pe site. Puteți configura browser-ul pentru a bloca cookie-urile, dar în acest caz, anumite secțiuni ale site-ului nu vor funcționa corect.
        </p>

      </p-dialog>
    </div>
  </div>


</div>
