<div style="display: flex">
  <main>
    <div style="padding-left: 14rem">
      <h1 style="background-color: rgba(1, 21, 38, 0.90) !important; background-image: none">Haide sa vezi zona</h1>
      <hr>
      <p>Echipa noastră poate fi ghidul dvs. în această călătorie de transformare. Suntem aici să vă prezentăm oportunitățile incredibile <br> pe care viața la țară le oferă. Alegeți să faceți pasul și să explorați ce înseamnă cu adevărat să trăiești.</p>
    </div>
    <p-button *ngIf="rent!==-1" label="Înapoi" icon="pi pi-arrow-left" size="large" (onClick)="onBack()"></p-button>
  </main>
  <img *ngIf="rent===-1" style="width: 300px; height: 300px; margin-right: 20rem" alt="Card" src="assets/slogan.png" />
</div>

<div style="display: flex; padding-left: 14rem; padding-top: 3rem">
  <p-card *ngIf="isRentValid()" [style]="{ width: '600px' }">
    <ng-template pTemplate="header">
      <div style="display: flex">
        <img style="width: 200px; height: 200px; margin-left: 7rem" alt="Card" src="assets/slogan.png" />
        <h1 style="padding-top: 5rem; padding-left: 5rem">Închiriază</h1>
      </div>
    </ng-template>
    <p style="font-size: 24px; text-align: center">
      Case care pot fi ale tale printr-un simplu click <br><br>
    </p>
    <ng-template pTemplate="footer">
      <div style="text-align: center">
        <p-button label="HAI IN SAT" icon="pi pi-check" (onClick)="changeToRent()"></p-button>
      </div>
    </ng-template>
  </p-card>

<!--  <img style="width: 400px; height: 400px; margin-right: 10rem; margin-left: 10rem; margin-top: 4rem;" alt="Card" src="assets/slogan.png" />-->

  <div style="padding-left: 10rem">
    <p-card *ngIf="isRentValid()" [style]="{ width: '600px'}">
      <ng-template pTemplate="header">
        <div style="display: flex">
          <h1 style="padding-top: 5rem; padding-left: 5rem">Cumpără</h1>
          <img style="width: 200px; height: 200px; margin-left: 7rem" alt="Card" src="assets/slogan.png" />
        </div>
      </ng-template>
      <p style="font-size: 24px; text-align: center">
        Case in care ai putea sa locuiesti pentru a te bucura de aceasta zona
      </p>
      <ng-template pTemplate="footer">
        <div style="text-align: center">
          <p-button label="HAI IN SAT" icon="pi pi-check" (onClick)="changeToBuy()"></p-button>
        </div>
      </ng-template>
    </p-card>
  </div>

</div>


<app-see-the-area-rent *ngIf="isRentSelected()"></app-see-the-area-rent>

<app-see-the-area-buy *ngIf="isBuySelected()"></app-see-the-area-buy>
