<div style="display: flex">
  <main>
    <div style="padding-left: 14rem">
      <h1 style="background-color: rgba(1, 21, 38, 0.90) !important; background-image: none">Haide sa vezi zona</h1>
      <hr>
      <p>Echipa noastră poate fi ghidul dvs. în această călătorie de transformare. Suntem aici să vă prezentăm oportunitățile incredibile <br> pe care viața la țară le oferă. Alegeți să faceți pasul și să explorați ce înseamnă cu adevărat să trăiești.</p>
    </div>
  </main>
  <img style="width: 300px; height: 300px; margin-right: 20rem" alt="Card" src="assets/slogan.png" />
</div>

<main>
  <div>
    <span>Hai in sat</span>
    <h1>Nea Vasile</h1>
    <hr>
    <p style="max-width: 40rem">În satul Slătioara se află casa lui Nea Vasile. Cu o gospodărie mare plina de gaini si porci
      va primeste cu bratele deschise sa vizitati zona olteniei de sub munte</p>
  </div>

  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide swiper-slide-one">
        <div>
<!--          <h2>Nea Vasile</h2>-->
<!--          <p>În satul Slătioara se află casa lui Nea Vasile. Cu o gospodărie mare plina de gaini si porci-->
<!--          va primeste cu bratele deschise sa vizitati zona olteniei de sub munte</p>-->
<!--          <a href="" target="_blank">Mai multe</a>-->
        </div>
      </div>

      <div class="swiper-slide swiper-slide-two">
        <div>
<!--          <h2>Nea Vasile</h2>-->
<!--          <p>În satul Slătioara se află casa lui Nea Vasile. Cu o gospodărie mare plina de gaini si porci-->
<!--            va primeste cu bratele deschise sa vizitati zona olteniei de sub munte</p>-->
<!--          <a href="" target="_blank">Mai multe</a>-->
        </div>
      </div>

      <div class="swiper-slide swiper-slide-three">
        <div>
<!--          <h2>Nea Vasile</h2>-->
<!--          <p>În satul Slătioara se află casa lui Nea Vasile. Cu o gospodărie mare plina de gaini si porci-->
<!--            va primeste cu bratele deschise sa vizitati zona olteniei de sub munte</p>-->
<!--          <a href="" target="_blank">Mai multe</a>-->
        </div>
      </div>

<!--      <div class="swiper-slide swiper-slide-four">-->
<!--        <div>-->
<!--          <h2>Nea Vasile</h2>-->
<!--          <p>În satul Slătioara se află casa lui Nea Vasile. Cu o gospodărie mare plina de gaini si porci-->
<!--            va primeste cu bratele deschise sa vizitati zona olteniei de sub munte</p>-->
<!--          <a href="" target="_blank">Mai multe</a>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="swiper-slide swiper-slide-five">-->
<!--        <div>-->
<!--          <h2>Nea Vasile</h2>-->
<!--          <p>În satul Slătioara se află casa lui Nea Vasile. Cu o gospodărie mare plina de gaini si porci-->
<!--            va primeste cu bratele deschise sa vizitati zona olteniei de sub munte</p>-->
<!--          <a href="" target="_blank">Mai multe</a>-->
<!--        </div>-->
<!--      </div>-->

      <!-- Add Pagination -->
<!--      <div class="swiper-pagination"></div>-->
      <!-- Add Navigation -->
<!--      <div class="swiper-button-prev"></div>-->
<!--      <div class="swiper-button-next"></div>-->
    </div>
  </div>
</main>


<main>
  <div>
    <span>Hai in sat</span>
    <h1>Nea Ion</h1>
    <hr>
    <p style="max-width: 40rem">În satul Slătioara se află casa lui Nea Ion. Cu o gospodărie mare plina de gaini si porci
      va primeste cu bratele deschise sa vizitati zona olteniei de sub munte</p>
  </div>

  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide swiper-slide-one">
        <div>
<!--          <h2>Nea Vasile</h2>-->
<!--          <p>În satul Slătioara se află casa lui Nea Vasile. Cu o gospodărie mare plina de gaini si porci-->
<!--            va primeste cu bratele deschise sa vizitati zona olteniei de sub munte</p>-->
<!--          <a href="" target="_blank">Mai multe</a>-->
        </div>
      </div>

      <div class="swiper-slide swiper-slide-two">
        <div>
<!--          <h2>Nea Vasile</h2>-->
<!--          <p>În satul Slătioara se află casa lui Nea Vasile. Cu o gospodărie mare plina de gaini si porci-->
<!--            va primeste cu bratele deschise sa vizitati zona olteniei de sub munte</p>-->
<!--          <a href="" target="_blank">Mai multe</a>-->
        </div>
      </div>

      <div class="swiper-slide swiper-slide-three">
        <div>
<!--          <h2>Nea Vasile</h2>-->
<!--          <p>În satul Slătioara se află casa lui Nea Vasile. Cu o gospodărie mare plina de gaini si porci-->
<!--            va primeste cu bratele deschise sa vizitati zona olteniei de sub munte</p>-->
<!--          <a href="" target="_blank">Mai multe</a>-->
        </div>
      </div>

      <!--      <div class="swiper-slide swiper-slide-four">-->
      <!--        <div>-->
      <!--          <h2>Nea Vasile</h2>-->
      <!--          <p>În satul Slătioara se află casa lui Nea Vasile. Cu o gospodărie mare plina de gaini si porci-->
      <!--            va primeste cu bratele deschise sa vizitati zona olteniei de sub munte</p>-->
      <!--          <a href="" target="_blank">Mai multe</a>-->
      <!--        </div>-->
      <!--      </div>-->

      <!--      <div class="swiper-slide swiper-slide-five">-->
      <!--        <div>-->
      <!--          <h2>Nea Vasile</h2>-->
      <!--          <p>În satul Slătioara se află casa lui Nea Vasile. Cu o gospodărie mare plina de gaini si porci-->
      <!--            va primeste cu bratele deschise sa vizitati zona olteniei de sub munte</p>-->
      <!--          <a href="" target="_blank">Mai multe</a>-->
      <!--        </div>-->
      <!--      </div>-->

      <!-- Add Pagination -->
      <!--      <div class="swiper-pagination"></div>-->
      <!-- Add Navigation -->
      <!--      <div class="swiper-button-prev"></div>-->
      <!--      <div class="swiper-button-next"></div>-->
    </div>
  </div>
</main>


<main>
  <div>
    <span>Hai in sat</span>
    <h1>Gheorghe</h1>
    <hr>
    <p style="max-width: 40rem">În satul Slătioara se află casa lui Gheorghe. Cu o gospodărie mare plina de gaini si porci
      va primeste cu bratele deschise sa vizitati zona olteniei de sub munte</p>
  </div>

  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide swiper-slide-one">
        <div>
          <!--          <h2>Nea Vasile</h2>-->
          <!--          <p>În satul Slătioara se află casa lui Nea Vasile. Cu o gospodărie mare plina de gaini si porci-->
          <!--            va primeste cu bratele deschise sa vizitati zona olteniei de sub munte</p>-->
          <!--          <a href="" target="_blank">Mai multe</a>-->
        </div>
      </div>

      <div class="swiper-slide swiper-slide-two">
        <div>
          <!--          <h2>Nea Vasile</h2>-->
          <!--          <p>În satul Slătioara se află casa lui Nea Vasile. Cu o gospodărie mare plina de gaini si porci-->
          <!--            va primeste cu bratele deschise sa vizitati zona olteniei de sub munte</p>-->
          <!--          <a href="" target="_blank">Mai multe</a>-->
        </div>
      </div>

      <div class="swiper-slide swiper-slide-three">
        <div>
          <!--          <h2>Nea Vasile</h2>-->
          <!--          <p>În satul Slătioara se află casa lui Nea Vasile. Cu o gospodărie mare plina de gaini si porci-->
          <!--            va primeste cu bratele deschise sa vizitati zona olteniei de sub munte</p>-->
          <!--          <a href="" target="_blank">Mai multe</a>-->
        </div>
      </div>

      <!--      <div class="swiper-slide swiper-slide-four">-->
      <!--        <div>-->
      <!--          <h2>Nea Vasile</h2>-->
      <!--          <p>În satul Slătioara se află casa lui Nea Vasile. Cu o gospodărie mare plina de gaini si porci-->
      <!--            va primeste cu bratele deschise sa vizitati zona olteniei de sub munte</p>-->
      <!--          <a href="" target="_blank">Mai multe</a>-->
      <!--        </div>-->
      <!--      </div>-->

      <!--      <div class="swiper-slide swiper-slide-five">-->
      <!--        <div>-->
      <!--          <h2>Nea Vasile</h2>-->
      <!--          <p>În satul Slătioara se află casa lui Nea Vasile. Cu o gospodărie mare plina de gaini si porci-->
      <!--            va primeste cu bratele deschise sa vizitati zona olteniei de sub munte</p>-->
      <!--          <a href="" target="_blank">Mai multe</a>-->
      <!--        </div>-->
      <!--      </div>-->

      <!-- Add Pagination -->
      <!--      <div class="swiper-pagination"></div>-->
      <!-- Add Navigation -->
      <!--      <div class="swiper-button-prev"></div>-->
      <!--      <div class="swiper-button-next"></div>-->
    </div>
  </div>
</main>
