<main>
  <div>
    <span>Hai in sat</span>
    <h1>Haide sa vezi zona</h1>
    <hr>
    <p>Te invitam sa te cazezi in zona olteniei de sub munte si sa vezi minunile</p>
  </div>

  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide swiper-slide-one">
        <div>
          <h2>Nea Vasile</h2>
          <p>În satul Slătioara se află casa lui Nea Vasile. Cu o gospodărie mare plina de gaini si porci
          va primeste cu bratele deschise sa vizitati zona olteniei de sub munte</p>
          <a href="" target="_blank">Mai multe</a>
        </div>
      </div>

      <div class="swiper-slide swiper-slide-two">
        <div>
          <h2>Nea Vasile</h2>
          <p>În satul Slătioara se află casa lui Nea Vasile. Cu o gospodărie mare plina de gaini si porci
            va primeste cu bratele deschise sa vizitati zona olteniei de sub munte</p>
          <a href="" target="_blank">Mai multe</a>
        </div>
      </div>

      <div class="swiper-slide swiper-slide-three">
        <div>
          <h2>Nea Vasile</h2>
          <p>În satul Slătioara se află casa lui Nea Vasile. Cu o gospodărie mare plina de gaini si porci
            va primeste cu bratele deschise sa vizitati zona olteniei de sub munte</p>
          <a href="" target="_blank">Mai multe</a>
        </div>
      </div>

      <div class="swiper-slide swiper-slide-four">
        <div>
          <h2>Nea Vasile</h2>
          <p>În satul Slătioara se află casa lui Nea Vasile. Cu o gospodărie mare plina de gaini si porci
            va primeste cu bratele deschise sa vizitati zona olteniei de sub munte</p>
          <a href="" target="_blank">Mai multe</a>
        </div>
      </div>

      <div class="swiper-slide swiper-slide-five">
        <div>
          <h2>Nea Vasile</h2>
          <p>În satul Slătioara se află casa lui Nea Vasile. Cu o gospodărie mare plina de gaini si porci
            va primeste cu bratele deschise sa vizitati zona olteniei de sub munte</p>
          <a href="" target="_blank">Mai multe</a>
        </div>
      </div>
    </div>
  </div>
</main>
