<div class="large-screen">
  <section>
    <div class="card">
      <div class="card-info">
        <h1 id="card-info-title">{{data[currentNum].title}}</h1>
        <p id="card-info-desc">{{data[currentNum].desc}}</p>
        <a>
          <p (click)="showMore()">Mai multe</p>
          <svg viewBox="0 0 20 10">
            <line x1="0" y1="5" x2="20" y2="5"></line>
            <line x1="15" y1="0" x2="20" y2="5"></line>
            <line x1="15" y1="10" x2="20" y2="5"></line>
          </svg>
        </a>
      </div>

      <div class="card-photo">
          <div id="mask" class="mask">
            <a>
              <p (click)="nextButton()">Următorul</p>
              <svg viewBox="0 0 20 10">
                <line x1="0" y1="5" x2="20" y2="5"></line>
                <line x1="15" y1="0" x2="20" y2="5"></line>
                <line x1="15" y1="10" x2="20" y2="5"></line>
              </svg>
            </a>
            <img src="{{data[currentNum].photo}}">
          </div>
      </div>
    </div>
  </section>
</div>

<div class="small-screen">
  <div style="padding-top: 2rem">
    <p-card>
      <ng-template pTemplate="header">
        <img id="mask-mobile" src="{{data[currentNum].photo}}">
        <h1 style="padding-top: 2rem; text-align: center" id="card-info-title">{{data[currentNum].title}}</h1>
      </ng-template>
      <p id="card-info-desc">{{data[currentNum].desc}}</p>
      <ng-template pTemplate="footer">
        <p-button label="Mai multe" icon="pi pi-book" (onClick)="showMore()"></p-button>
        <p-button label="Următorul" icon="pi pi-arrow-right" (onClick)="nextButton()" [style]="{ 'margin-left': '.5em' }"></p-button>
      </ng-template>
    </p-card>
  </div>
</div>
