<div class="hero-banner">
  <div class="hero-content">
    <h1>Oltenia de sub munte</h1>
    <h2>Regiune cu istorie si traditii autentice</h2>
  </div>
</div>

<div class="large-screen">
  <section>
    <div class="card-top">
      <div class="card-info">
        <div style="display: flex">
          <div>
            <h1 id="card-info-title" style="font-family: 'Comic Sans MS'">Introducere</h1>
          </div>
        </div>
        <p id="card-info-desc">Și noi susținem geoparcul Oltenia de Sub Munte. Vă prezentăm frumusețile
          acestei zone printr-un film realizat de Charlie Ottley, în colaborare cu Asociația Kogayon.</p>
      </div>

      <div class="card-video">
          <app-youtube-player></app-youtube-player>
      </div>
    </div>


  </section>

  <p-divider>
    <i class="pi pi-star" style="color: #c8a96a;"></i>
  </p-divider>

  <section>
    <div class="card">
      <div class="card-info">
        <div style="display: flex">
          <div>
            <h1 class="degrade" id="card-info-title" style="font-family: 'Comic Sans MS'">{{data[currentNum].title}}</h1>
            <hr class="degrade-line">
          </div>
          <a style="padding-left: 15rem; padding-bottom: 3rem">
            <p (click)="nextButton()">Următorul</p>
            <svg viewBox="0 0 20 10">
              <line x1="0" y1="5" x2="20" y2="5"></line>
              <line x1="15" y1="0" x2="20" y2="5"></line>
              <line x1="15" y1="10" x2="20" y2="5"></line>
            </svg>
          </a>
        </div>
        <p id="card-info-desc">{{getCardInfoDesc()}}</p>
        <a style="padding-right: 40rem">
          <p (click)="showMore()">Mai multe</p>
          <svg viewBox="0 0 20 10">
            <line x1="0" y1="5" x2="20" y2="5"></line>
            <line x1="15" y1="0" x2="20" y2="5"></line>
            <line x1="15" y1="10" x2="20" y2="5"></line>
          </svg>
        </a>
      </div>

      <div class="card-photo">
          <div id="mask" class="mask">
            <img src="{{data[currentNum].photo}}">
          </div>
      </div>
    </div>
  </section>
</div>

<div class="small-screen">
  <div class="hero-banner">
    <div class="hero-content">
      <h1>Oltenia de sub munte</h1>
      <h2>Regiune cu istorie si traditii autentice</h2>
    </div>
  </div>

  <div style="padding-top: 2rem">

    <p-card>
      <ng-template pTemplate="header">
        <div class="card-video-mobile">
          <app-youtube-player></app-youtube-player>
          <h1 style="text-align: center; padding-top: 2rem">Oltenia de Sub Munte</h1>
          <p style="padding-top: 3rem; text-align: center">Și noi susținem geoparcul Oltenia de Sub Munte. Vă prezentăm frumusețile
            acestei zone printr-un film realizat de Charlie Ottley, în colaborare cu Asociația Kogayon</p>
        </div>
      </ng-template>
    </p-card>

    <p-card>
      <ng-template pTemplate="header">
        <img id="mask-mobile" src="{{data[currentNum].photo}}" alt="Poza de prezentare">
        <h1 style="padding-top: 2rem; text-align: center" id="card-info-title">{{data[currentNum].title}}</h1>
      </ng-template>
      <p id="card-info-desc">{{data[currentNum].desc}}</p>
      <ng-template pTemplate="footer">
        <p-button label="Mai multe" icon="pi pi-book" (onClick)="showMore()"></p-button>
        <p-button label="Următorul" icon="pi pi-arrow-right" (onClick)="nextButton()" [style]="{ 'margin-left': '.5em' }"></p-button>
      </ng-template>
    </p-card>
  </div>
</div>
