.title {
  text-align: center;
  margin-top: 2rem;
  font-size: 50px;
  opacity: 0;
}

.bucharestText {
  display: grid;
  place-content: center;
  height: 100vh;
}

h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: 'Bebas Neue';
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  line-height: 5.9rem;
}

.parent-container {
  display: grid;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.element {
  width: 19rem;
}

.chipClass {
  font-size: 1.3rem;
}

.bg {
  position: fixed;
  top: 4rem;
  left: 3rem;
  z-index: -1;
  width: 800px;
  height: 800px;
  opacity: 0.3;
}

.h1-style {
  text-align: center;
}

.h2-style {
  text-align: center;
  max-width: 60rem;
}

.div-style {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name-style {
  padding: 10px;
  //width: 100%;
}

.surname-style {
  margin-bottom: 2rem;
  width: 30rem;
}

.span-style {
  margin-bottom: 2rem;
  width: 50rem;
}

//mobile
@media only screen and (max-width: 415px) {
  .small-screen {
    display: block;
  }
  .large-screen {
    display: none;
  }
  .h1-style {
    text-align: center;
    font-size: 1.5rem;
  }
  .h2-style {
    text-align: center;
    max-width: 60rem;
  }
  .div-style {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container {
    display: inline;
    justify-content: center;
    align-items: center;
  }
  .bg {
    position: fixed;
    top: 4rem;
    left: 3rem;
    z-index: -1;
    width: 400px;
    height: 400px;
    opacity: 0.3;
  }
}

//desktop
@media only screen and (min-width: 415px) {
  .small-screen {
    display: none;
  }
  .large-screen {
    display: block;
  }
}
