.title {
  text-align: center;
  margin-top: 2rem;
  font-size: 50px;
  opacity: 0;
}

.bucharestText {
  display: grid;
  place-content: center;
  height: 100vh;
}

h1 {
  font-size: 2.5rem;
  //text-transform: uppercase;
  font-family: 'Bebas Neue';
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  //line-height: 5.9rem;
}

.parent-container {
  display: grid;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.element {
  width: 19rem;
}

.chipClass {
  font-size: 1.3rem;
}

.bg {
  position: fixed;
  top: 17rem;
  left: 6rem;
  z-index: -1;
  width: 15rem;
  height: 15rem;
  opacity: 0.3;
}

.degrade {
  background-color: #005baa;
  background-image: linear-gradient(45deg, #005baa, #000000);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  //text-transform: capitalize;
  letter-spacing: 0.8px;
  font-family: "Open Sans", sans-serif;
  font-size: clamp(2.4375rem, 2.25rem + 0.75vw, 2rem);
  font-weight: 800;
  text-align: center;
}

.degrade-line {
  display: block;
  background: #005baa;
  height: 0.25rem;
  //width: 6.25rem;
  border: none;
  margin: 1.125rem 0 1.875rem 0;
}

.h2-style {
  text-align: center;
  max-width: 60rem;
}

.div-style {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name-style {
  padding: 10px;
  //width: 100%;
}

.surname-style {
  margin-bottom: 2rem;
  width: 30rem;
}

.span-style {
  margin-bottom: 2rem;
  width: 50rem;
}

//mobile
@media only screen and (max-width: 415px) {
  .small-screen {
    display: block;
  }
  .large-screen {
    display: none;
  }
  .h1-style {
    text-align: center;
    font-size: 1.5rem;
  }
  .h2-style {
    text-align: center;
    max-width: 60rem;
  }
  .div-style {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container {
    display: inline;
    justify-content: center;
    align-items: center;
  }
  .bg {
    position: fixed;
    top: 4rem;
    left: 3rem;
    z-index: -1;
    width: 400px;
    height: 400px;
    opacity: 0.3;
  }
}

//desktop
@media only screen and (min-width: 415px) {
  .small-screen {
    display: none;
  }
  .large-screen {
    display: block;
  }
}
