<p-toast></p-toast>
<div *ngIf="loadingService.loading$ | async" class="spinner-container">
  <p-progressSpinner></p-progressSpinner>
</div>
<div class="large-screen">
  <div class="parent-container">

    <h1 class="degrade">Configurează-ți casa perfectă pentru tine</h1>
    <hr class="degrade-line">

    <div class="div-style">
    <span style="margin-bottom: 2rem; width: 30rem" class="p-float-label" [formGroup]="formGroup">
      <input class="name-style" style="width: 100%" type="text" pInputText id="name" formControlName="name">
      <label htmlFor="name">Nume</label>
    </span>
      <span class="p-float-label surname-style" [formGroup]="formGroup">
      <input style="padding: 10px; width: 100%" type="text" pInputText id="surname" formControlName="surname">
      <label htmlFor="surname">Prenume</label>
    </span>
      <span class="p-float-label surname-style" [formGroup]="formGroup">
      <input style="padding: 10px; width: 100%" type="text" pInputText id="phoneNumber" formControlName="phoneNumber">
      <label type="number" htmlFor="phoneNumber">Număr de telefon</label>
    </span>
      <span class="p-float-label surname-style" [formGroup]="formGroup">
      <input style="padding: 10px; width: 100%" type="text" pInputText id="mail" formControlName="mail">
      <label htmlFor="mail">Adresă de e-mail</label>
    </span>

      <h2>La ce apropiere de un centru urban(Km)</h2>
      <div class="container">
        <div class="element">
          <input style="margin-bottom: 20px;" type="number" [(ngModel)]="ariaRangeValues[0]" pInputText class="w-full"/>
        </div>
        <div class="element">
          <p-slider [step]="20" [min]="0" [max]="30" [(ngModel)]="ariaRangeValues" [range]="true"></p-slider>
        </div>
        <div class="element" style="padding-left: 5rem">
          <input style="margin-bottom: 20px;" type="number" [(ngModel)]="ariaRangeValues[1]" pInputText class="w-full"/>
        </div>
      </div>

      <h2>Preț(€)</h2>
      <div class="container">
        <div class="element">
          <input style="margin-bottom: 20px;" type="number" [(ngModel)]="priceRangeValues[0]" pInputText class="w-full"/>
        </div>
        <div class="element">
          <p-slider [step]="20" [min]="0" [max]="200000" [(ngModel)]="priceRangeValues" [range]="true"></p-slider>
        </div>
        <div class="element" style="padding-left: 5rem">
          <input style="margin-bottom: 20px;" type="number" [(ngModel)]="priceRangeValues[1]" pInputText class="w-full"/>
        </div>
      </div>
      <span class="span-style">
      <div class="container">
        <div style="padding-right: 1rem">
          <p-chip class="chipClass" label="Lângă o apă:"></p-chip>
        </div>
        <div style="padding-right: 3rem">
          <p-checkbox [(ngModel)]="river" [binary]="true" inputId="binary"></p-checkbox>
        </div>

        <div style="padding-right: 1rem">
          <p-chip class="chipClass" label="Cu vecini:"></p-chip>
        </div>
        <div style="padding-right: 3rem">
          <p-checkbox [(ngModel)]="neighbor" [binary]="true" inputId="binary"></p-checkbox>
        </div>
      </div>
    </span>
      <span class="p-float-label" style="margin-bottom: 2rem" [formGroup]="formGroup">
      <textarea rows="5" cols="120" pInputTextarea id="mentions" formControlName="mentions"></textarea>
      <label htmlFor="mentions">Alte mențiuni</label>
    </span>

      <div style="display: flex">
        <p-checkbox [(ngModel)]="accord" [binary]="true" inputId="binary"></p-checkbox>
        <h3 style="padding-left: 1rem">Sunt de acord cu <a href="javascript:void(0)" (click)="openTermenii()">termenii si condițiile</a> și <a href="javascript:void(0)" (click)="openPolitica()">politica de confidențialitate</a> </h3>
      </div>

      <span style="margin-bottom: 2rem;">
      <button pButton pRipple label="HAI IN SAT" class="p-button-success" (click)="sendRequest()"></button>
    </span>

    </div>

    <img class="bg" alt="logo-background" src="assets/logo.png" />
  </div>
</div>

<p-dialog
  header="Politica de confidențialitate"
  [modal]="true"
  [(visible)]="politica"
  [style]="{ width: '50rem' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
  <p class="mb-5">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
  <p class="mb-5">
    "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
    ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
    adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea
    commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
  </p>
  <p class="mb-5">
    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui
    officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
    placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non
    recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
  </p>
</p-dialog>
<p-dialog
  header="Termenii si condițiile"
  [modal]="true"
  [(visible)]="termenii"
  [style]="{ width: '50rem' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
  <p class="mb-5">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
  <p class="mb-5">
    "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
    ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
    adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea
    commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
  </p>
  <p class="mb-5">
    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui
    officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
    placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non
    recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
  </p>
</p-dialog>


<div class="small-screen">
  <div>

    <h1 class="h1-style degrade" id="first-text1-mobile">Configurează-ți casa perfectă pentru tine</h1>
    <hr>
    <div class="div-style">
    <span style="margin-bottom: 2rem" class="p-float-label" [formGroup]="formGroup">
      <input type="text" pInputText id="name-mobile" formControlName="name">
      <label htmlFor="name">Nume</label>
    </span>
      <span style="margin-bottom: 2rem" class="p-float-label" [formGroup]="formGroup">
      <input type="text" pInputText id="surname-mobile" formControlName="surname">
      <label htmlFor="surname">Prenume</label>
    </span>
      <span style="margin-bottom: 2rem" class="p-float-label" [formGroup]="formGroup">
      <input type="tel" pInputText id="phoneNumberMobile" formControlName="phoneNumber">
      <label htmlFor="phoneNumber">Număr de telefon</label>
    </span>
      <span style="margin-bottom: 2rem" class="p-float-label" [formGroup]="formGroup">
      <input pInputText id="mail-mobile" formControlName="mail">
      <label htmlFor="mail">Adresă de e-mail</label>
    </span>

      <h2 style="text-align: center; font-size: 1.3rem">La ce apropiere de un centru urban(Km)</h2>
      <div>
        <div style="margin-bottom: 1rem">
          <div style="padding-right: 1rem; display: inline">
            <p-chip label="Min:"></p-chip>
          </div>
          <input type="tel" style="width: 11rem" [(ngModel)]="ariaRangeValues[0]" pInputText class="w-full"/>
        </div>
        <div>
          <div style="padding-right: 1rem; display: inline">
            <p-chip label="Max:"></p-chip>
          </div>
          <input type="tel" style="width: 10.6rem" [(ngModel)]="ariaRangeValues[1]" pInputText class="w-full"/>
        </div>
      </div>

      <h2 style="font-size: 1.3rem">Pret(€)</h2>
      <div>
        <div style="margin-bottom: 1rem">
          <div style="padding-right: 1rem; display: inline">
            <p-chip label="Min:"></p-chip>
          </div>
          <input type="tel" style="width: 11rem" [(ngModel)]="priceRangeValues[0]" pInputText class="w-full"/>
        </div>
        <div>
          <div style="padding-right: 1rem; display: inline">
            <p-chip label="Max:"></p-chip>
          </div>
          <input type="tel" style="width: 10.6rem" [(ngModel)]="priceRangeValues[1]" pInputText class="w-full"/>
        </div>
      </div>
      <span>
      <div class="container">
        <div style="padding-bottom: 1rem; padding-top: 1rem;">
          <p-chip label="Lângă o apă:"></p-chip>
          <div style="padding-left: 4.5rem">
            <p-checkbox [(ngModel)]="river" [binary]="true" inputId="binary"></p-checkbox>
          </div>
        </div>
        <div style="padding-bottom: 2rem">
          <p-chip class="chipClass" label="Cu vecini:"></p-chip>
          <div style="display: inline; padding-left: 6.2rem">
            <p-checkbox [(ngModel)]="neighbor" [binary]="true" inputId="binary"></p-checkbox>
          </div>
        </div>
      </div>
    </span>
      <span class="p-float-label" [formGroup]="formGroup">
      <textarea style="width: 20rem" rows="5" pInputTextarea formControlName="mentions" id="mentions_mobile"></textarea>
      <label htmlFor="mentions">Alte mențiuni</label>
    </span>

      <div style="display: flex; padding-left: 2rem">
        <p-checkbox [(ngModel)]="accord" [binary]="true" inputId="binary"></p-checkbox>
        <h4 style="padding-left: 1rem">Sunt de acord cu <a href="javascript:void(0)" (click)="openTermenii()">termenii si condițiile</a> și <a href="javascript:void(0)" (click)="openPolitica()">politica de confidențialitate</a> </h4>
      </div>

      <span>
        <button pButton pRipple label="HAI IN SAT" class="p-button-success" (click)="sendRequest()"></button>
      </span>
    </div>

    <img class="bg" alt="logo-background" src="assets/logo.png" />
  </div>
</div>
