<div class="add-property-container">
  <div *ngIf="loadingService.loading$ | async" class="spinner-container">
    <p-progressSpinner></p-progressSpinner>
  </div>

  <div class="header-section">
    <h2>Adaugă proprietate</h2>
    <button type="button" class="logout-button" (click)="logout()" title="Deconectare">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="logout-icon">
        <path fill-rule="evenodd" d="M3 4.25A2.25 2.25 0 015.25 2h5.5A2.25 2.25 0 0113 4.25v2a.75.75 0 01-1.5 0v-2a.75.75 0 00-.75-.75h-5.5a.75.75 0 00-.75.75v11.5c0 .414.336.75.75.75h5.5a.75.75 0 00.75-.75v-2a.75.75 0 011.5 0v2A2.25 2.25 0 0110.75 18h-5.5A2.25 2.25 0 013 15.75V4.25z" clip-rule="evenodd" />
        <path fill-rule="evenodd" d="M19 10a.75.75 0 00-.75-.75H8.704l1.048-.943a.75.75 0 10-1.004-1.114l-2.5 2.25a.75.75 0 000 1.114l2.5 2.25a.75.75 0 101.004-1.114l-1.048-.943h9.546A.75.75 0 0019 10z" clip-rule="evenodd" />
      </svg>
      Deconectare
    </button>
  </div>

  <form [formGroup]="store.form" class="form-grid">
    <div class="form-field">
      <p-float-label>
        <input pInputText id="name" formControlName="name" />
        <label for="name">name</label>
      </p-float-label>
    </div>

    <div class="form-field">
      <p-float-label>
        <textarea pInputTextarea id="description" formControlName="description"></textarea>
        <label for="description">description</label>
      </p-float-label>
    </div>

    <div class="form-field">
      <p-float-label>
        <p-dropdown
          id="type"
          class="type-dropdown"
          [options]="propertyTypeOptions"
          optionLabel="label"
          optionValue="value"
          formControlName="type"
          inputId="type"></p-dropdown>
        <label for="type">type</label>
      </p-float-label>
    </div>

    <div class="form-field" style="display: flex; gap: 0.5rem; align-items: center; flex-wrap: wrap;">
      <p-fileupload mode="basic"
                    name="photo"
                    [customUpload]="true"
                    [auto]="true"
                    accept="image/*"
                    (uploadHandler)="onUpload($event)"
                    chooseLabel="Selectează poză">
      </p-fileupload>

      <p-fileupload mode="basic"
                    name="gallery"
                    [customUpload]="true"
                    [auto]="true"
                    [multiple]="true"
                    accept="image/*"
                    (uploadHandler)="onUploadGallery($event)"
                    chooseLabel="Selecteaza galeria de poze">
      </p-fileupload>
    </div>

    <div class="preview-section" *ngIf="mainPhotoPreviewUrl">
      <div class="preview-label">Poza principală</div>
      <div class="preview-item">
        <img [src]="mainPhotoPreviewUrl" alt="Poza principală" />
        <button type="button" class="remove-button" (click)="clearMainPhoto()">X</button>
      </div>
    </div>

    <div class="preview-section" *ngIf="galleryPreviewUrls.length">
      <div class="preview-label">Galerie</div>
      <div class="preview-grid">
        <div class="preview-item" *ngFor="let url of galleryPreviewUrls; let i = index">
          <img [src]="url" alt="Poză galerie" />
          <button type="button" class="remove-button" (click)="removeGalleryPhoto(i)">X</button>
        </div>
      </div>
    </div>

    <div class="actions">
      <button pButton type="button" label="Save" (click)="onSave()"></button>
      <button pButton type="button" label="Show properties" class="p-button-secondary" (click)="onShowProperties()"></button>
      <button pButton type="button" label="Șterge toate pozele" class="p-button-danger" (click)="onDeleteAllPhotos()"></button>
    </div>

    <div class="thumbnail-regen-section">
      <div class="thumbnail-regen-label">Regenerare thumbnailuri (localhost)</div>
      <div class="thumbnail-regen-controls">
        <input type="number" [(ngModel)]="thumbWidth" [ngModelOptions]="{standalone: true}" placeholder="Lățime" min="1" class="thumb-input" />
        <span>x</span>
        <input type="number" [(ngModel)]="thumbHeight" [ngModelOptions]="{standalone: true}" placeholder="Înălțime" min="1" class="thumb-input" />
        <button pButton type="button" label="Regenerează thumbnailuri" class="p-button-info" (click)="onRegenerateThumbnails()"></button>
      </div>
    </div>
  </form>

  <input
    #replaceGalleryInput
    type="file"
    accept="image/*"
    multiple
    class="hidden-input"
    (change)="onReplaceGallerySelected($event)" />

  <input
    #replaceThumbnailInput
    type="file"
    accept="image/*"
    class="hidden-input"
    (change)="onReplaceThumbnailSelected($event)" />

  <input
    #addPhotoInput
    type="file"
    accept="image/*"
    class="hidden-input"
    (change)="onAddPhotoSelected($event)" />

  <div class="properties-section" *ngIf="showPropertiesTable">
    <h3>Proprietăți</h3>
    <p-table [value]="properties" [tableStyle]="{ 'min-width': '60rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>Ordine</th>
          <th>Nume</th>
          <th>Descriere</th>
          <th>Tip</th>
          <th>Poză principală</th>
          <th>Acțiuni</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-property let-rowIndex="rowIndex">
        <tr>
          <td class="order-cell">
            <input type="number"
                   [value]="property.sortOrder ?? ''"
                   (input)="onSortOrderInput(property, $event)"
                   class="order-input"
                   min="1"
                   placeholder="#" />
            <button pButton type="button"
                    label="Salvează"
                    class="p-button-sm p-button-success"
                    (click)="onSaveSortOrder(property)"
                    [disabled]="property._pendingSortOrder == null">
            </button>
          </td>
          <td>{{ property.name }}</td>
          <td>{{ property.description }}</td>
          <td>{{ property.type }}</td>
          <td>
            <img *ngIf="property.thumbnail" [src]="property.thumbnail" alt="Thumbnail" style="max-width: 80px; max-height: 60px; border-radius: 4px;" />
            <span *ngIf="!property.thumbnail" style="color: #999;">Lipsă</span>
          </td>
          <td class="actions-cell">
            <button pButton type="button" label="Muta sus" class="p-button-secondary" (click)="movePropertyUp(rowIndex)" [disabled]="rowIndex === 0"></button>
            <button pButton type="button" label="Muta jos" class="p-button-secondary" (click)="movePropertyDown(rowIndex)" [disabled]="rowIndex === properties.length - 1"></button>
            <button pButton type="button" label="Sterge casa/teren" class="p-button-danger" (click)="onDeleteProperty(property)"></button>
            <button pButton type="button" label="Șterge pozele" class="p-button-danger p-button-outlined" (click)="onDeletePropertyPhotos(property)"></button>
            <button pButton type="button" label="Inlocuieste pozele" class="p-button-help" (click)="openReplacePhotos(property)"></button>
            <button pButton type="button" label="Adaugă o poză" class="p-button-success" (click)="openAddPhoto(property)"></button>
            <button pButton type="button" label="Schimbă poza principală" class="p-button-warning" (click)="openReplaceThumbnail(property)"></button>
            <button pButton type="button" label="Regen. thumbnail" class="p-button-info p-button-outlined" (click)="onRegenerateThumbnailForProperty(property)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>

    <p-paginator
      [rows]="pageSize"
      [totalRecords]="totalRecords"
      [first]="currentPage * pageSize"
      (onPageChange)="onPropertiesPageChange($event)">
    </p-paginator>
  </div>

  <p-dialog
    header="Înlocuire poze"
    [modal]="true"
    [(visible)]="replaceDialogVisible"
    [style]="{ width: '45rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
    <p class="dialog-text">
      Sunteți sigur că vreți să înlocuiți pozele proprietății
      <b>{{ selectedReplaceProperty?.name || selectedReplaceProperty?.id }}</b>
      cu cele selectate?
    </p>
    <div class="preview-grid" *ngIf="replacePreviewUrls.length">
      <div class="preview-item" *ngFor="let url of replacePreviewUrls">
        <img [src]="url" alt="Poză selectată" />
      </div>
    </div>
    <div class="dialog-actions">
      <button pButton type="button" label="Da" (click)="confirmReplacePhotos()"></button>
      <button pButton type="button" label="Renunță" class="p-button-secondary" (click)="closeReplaceDialog()"></button>
    </div>
  </p-dialog>

  <p-dialog
    header="Schimbă poza principală"
    [modal]="true"
    [(visible)]="thumbnailDialogVisible"
    [style]="{ width: '35rem' }"
    [breakpoints]="{ '1199px': '60vw', '575px': '90vw' }">
    <p class="dialog-text">
      Sunteți sigur că vreți să schimbați poza principală a proprietății
      <b>{{ selectedThumbnailProperty?.name || selectedThumbnailProperty?.id }}</b>?
    </p>
    <div class="preview-section" *ngIf="selectedThumbnailProperty?.thumbnail">
      <div class="preview-label">Poza principală actuală</div>
      <div class="preview-item">
        <img [src]="selectedThumbnailProperty!.thumbnail" alt="Poza principală actuală" />
      </div>
    </div>
    <div class="preview-section" *ngIf="replaceThumbnailPreviewUrl">
      <div class="preview-label">Poza principală nouă</div>
      <div class="preview-item">
        <img [src]="replaceThumbnailPreviewUrl" alt="Poza principală nouă" />
      </div>
    </div>
    <div class="dialog-actions">
      <button pButton type="button" label="Da, schimbă" (click)="confirmReplaceThumbnail()"></button>
      <button pButton type="button" label="Renunță" class="p-button-secondary" (click)="closeThumbnailDialog()"></button>
    </div>
  </p-dialog>
</div>
