<div class="add-property-container">
  <h2>Adaugă proprietate</h2>

  <form [formGroup]="store.form" class="form-grid">
    <div class="form-field">
      <p-float-label>
        <input pInputText id="name" formControlName="name" />
        <label for="name">name</label>
      </p-float-label>
    </div>

    <div class="form-field">
      <p-float-label>
        <textarea pInputTextarea id="description" formControlName="description"></textarea>
        <label for="description">description</label>
      </p-float-label>
    </div>

    <div class="form-field">
      <p-float-label>
        <p-dropdown id="type"
                    [options]="propertyTypeOptions"
                    optionLabel="label"
                    optionValue="value"
                    formControlName="type"
                    inputId="type"></p-dropdown>
        <label for="type">type</label>
      </p-float-label>
    </div>

    <div class="form-field" style="display: flex; gap: 0.5rem; align-items: center; flex-wrap: wrap;">
      <p-fileupload mode="basic"
                    name="photo"
                    [customUpload]="true"
                    [auto]="true"
                    accept="image/*"
                    (uploadHandler)="onUpload($event)"
                    chooseLabel="Selectează poză">
      </p-fileupload>

      <p-fileupload mode="basic"
                    name="gallery"
                    [customUpload]="true"
                    [auto]="true"
                    [multiple]="true"
                    accept="image/*"
                    (uploadHandler)="onUploadGallery($event)"
                    chooseLabel="Selecteaza galeria de poze">
      </p-fileupload>
    </div>

    <div class="form-field">
      <p-float-label>
        <input pInputText id="propertyId" formControlName="propertyId" />
        <label for="propertyId">id proprietate</label>
      </p-float-label>
    </div>

    <div class="actions">
      <button pButton type="button" label="Save" (click)="onSave()"></button>
      <button pButton type="button" label="Show properties" class="p-button-secondary" (click)="onShowProperties()"></button>
      <button pButton type="button" label="Sterge casa/teren" class="p-button-danger" (click)="onDeleteProperty()"></button>
    </div>
  </form>
</div>
