 <div class="parent-container">

      <h1 style="text-align: center" id="first-text1">Te-ai saturat de poluarea si aglomeratia din Bucuresti?</h1>
      <h1 style="text-align: center" id="first-text2">Vrei o oaza de liniste intr-un loc cu aer curat si peisaje ca de basm?</h1>
      <h1 style="text-align: center" id="first-text3">Alte minciuni pe care o sa le scrie Guci</h1>

<!--      <h1 class="title">HAI IN SAT !!!</h1>-->

      <div class="title">
        <p-button (click)="changeBackground()">HAI IN SAT !!!</p-button>
      </div>
 </div>

